{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-lg c-bg-white-1">
            <div class="container">
                <form id="advert-form" class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'classified' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    {% csrf_token %}
                    <div class="col-md-8 col-md-offset-2">
                        {% include "ad_form_images.html" %}
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="c-content-accordion-1 c-accordion-grey">
                                <div class="panel-group" id="accordion-3" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingOne-3">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-19 c-font-dark-2" data-toggle="collapse"
                                                   data-parent="#accordion-100" href="#collapseOne-3"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne-3"></a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne-3">
                                            <div class="panel-body c-font-18">
                                                {% if request.user.is_anonymous %}
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <a href="/accounts/facebook/login/?process=login"
                                                           class="btn btn-block c-btn-square btn-social btn-facebook socialaccount_provider facebook">
                                                            <i class="fa fa-facebook"></i> {% trans 'Sign in with Facebook' %}
                                                        </a>
                                                        <br>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.seller_type.label }}
                                                    </label>
                                                    <div class="col-md-6" style="margin-top:7px">
                                                        {% for radio in form.seller_type %}
                                                            <div class="c-radio">
                                                                {{ radio.tag }}
                                                                <label for="id_seller_type_{{ forloop.counter0 }}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{ radio.choice_label }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {{ form.seller_type.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.category.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ form.category }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.title.category }}</div>
                                                <div id="sub_category" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.sub_category.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ form.sub_category }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.sub_category.errors }}</div>
                                                <div id="sub_sub_category" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.sub_sub_category.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ form.sub_sub_category }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.sub_sub_category.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.title.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ form.title }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.title.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.price.label }} (&#8364)
                                                    </label>
                                                    <div class="col-md-6"> {{ form.price }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.price.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.country.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6">{{ form.country }}   </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.country.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.city.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ form.city }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.city.errors }}</div>
                                                {% if request.user.is_anonymous %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ user_form.email.label }} <span
                                                                class="c-font-red-2"><sup>*</sup></span>
                                                        </label>
                                                        <div class="col-md-6"> {{ user_form.email }} </div>
                                                        <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ user_form.email.errors }}</div>
                                                    </div>
                                                {% else %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ form.email.label }}
                                                            <span class="c-font-red-2"><sup>*</sup></span>
                                                        </label>
                                                        <div class="col-md-6"> {{ form.email }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.email.errors }}</div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">{% trans 'Phones' %}<span
                                                            class="c-font-red-2"><sup>*</sup></span></label>
                                                    <div class="col-md-6">
                                                        <div class="phone-list">
                                                            <div class="input-group phone-input">
                                                                <span class="input-group-btn">
                                                                    <button type="button"
                                                                            id="country_button"
                                                                            class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            aria-expanded="false"><span
                                                                            class="type-text">{% trans 'Country' %}</span><span
                                                                            class="caret"></span></button>
                                                                        <ul id="first_phone"
                                                                            class="dropdown-menu scrollable-phones-menu"
                                                                            role="menu">
                                                                        </ul>
                                                                </span>
                                                                <input type="tel" name="phones"
                                                                       pattern="[\s\+0-9]{6,17}"
                                                                       class="form-control type-input"/>
                                                            </div>
                                                        </div>
                                                        <div>  {{ form.phones.errors }}</div>
                                                        <div>
                                                            <br>
                                                            <button type="button"
                                                                    class="btn btn-info c-theme-btn c-btn-square c-btn-uppercase c-btn-bold btn-add-phone"><span
                                                                    class="glyphicon glyphicon-plus"></span> {% trans 'Add Phone' %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {% trans 'Hide phones for all posts' %}
                                                    </label>
                                                    <div class="col-md-6 c-checkbox c-toggle-hide"
                                                         data-object-selector="c-form-register"
                                                         data-animation-speed="600">
                                                        <div class="col-md-6">
                                                            <input type="checkbox" name="hide_phones"
                                                                   id="id_hide_phones" class="c-check"
                                                                    {% if request.user.hide_phones %}
                                                                   checked
                                                                    {% endif %}>
                                                            <label for="id_hide_phones">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ form.description.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ form.description }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ form.description.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div id="form_{{ forloop.counter }}" class="col-md-6 col-md-offset-4" style="display: none">
                                {{ form }}
                            </div>
                        {% endfor %}
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit"
                                    class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit
                            </button>
                            <a href="/"
                               class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'assets/base/js/modules/form_image_handle.js' %}"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function () {
        var calling_codes = {{ calling_code|safe }};
        var dict_categories = {{ categories|safe }};
        var category = $('#id_category');
        var sub_category = $('#id_sub_category');
        var sub_sub_category = $("#id_sub_sub_category");
        var sub_category_block = $('#sub_category');
        var sub_sub_category_block = $('#sub_sub_category');

        $('#first_phone').append(add_countries());
        hide_options();

        if (!$('#id_country').val()) {
            getLocation(setLocation);
        }
        if ('{{ user.email }}') {
            $('#id_email').val('{{ user.email }}');
        }

        $('#submit-btn').on('click', function () {
            $.ajax({
                method: 'post',
                url: '/realty/delete-image/',
                dataType: 'json',
                data: {images: JSON.stringify(images)}
            });
        });

        $("#id_city").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/classifieds/get_city/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_country: $("#id_country").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });
        $("#id_price").on('keypress', preventNonNumericInput);

        {% if form.phones.value %}
            var phones = '{{ form.phones.value }}';
            var phone_list = $('.phone-list');
            phone_list.empty();
            phones.split(",").forEach(function (element) {
                phone_list.append('' +
                    '<div class="input-group phone-input">' +
                    '</span>' +
                    '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                    element + '" />' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                    '</span>' +
                    '<div>'
                );
            });
        {% endif %}

        function setLocation(location) {
            $('.phone-input').find('.type-text').text(location['country']);
            $('.phone-input').find('.type-input').val(calling_codes[location['country']]);
            $("#id_country option:contains('" + location['country'] + "')").attr('selected', 'true');
            $('#id_city').val(location['locality']);
        }

        function hide_options() {
            if (category.val()) {
                if (sub_category.val()) {
                    if (!sub_sub_category.val()) {
                        sub_sub_category_block.hide();
                    }
                }
                else {
                    sub_sub_category_block.hide();
                }
            }
            else {
                sub_category_block.hide();
                sub_sub_category_block.hide();
            }
        }
        category.on('change', function () {
            sub_category.val(null);
            sub_sub_category.val(null);
            var category_val = category.val();
            if (!category_val) {
                sub_category_block.hide();
            }
            else {
                sub_category_block.show();
                sub_sub_category_block.hide();
                var options = ['<option value="" selected="selected">---------</option>'];
                dict_categories['sub_categories'][category_val].forEach(function (element) {
                    options += '<option value="' + element[0] + '">' + element[1] + '</option>'
                });
                $("#id_sub_category").empty().append(options);
            }
        });

        sub_category.on('change', function () {
            sub_sub_category.val(null);
            if (!sub_category.val()) {
                sub_sub_category_block.hide();
            }
            if (dict_categories['sub_sub_categories'][sub_category.val()]) {
                sub_sub_category_block.show();
                $("#id_sub_sub_category option").hide();
                var options = ['<option value="" selected="selected">---------</option>'];
                dict_categories['sub_sub_categories'][sub_category.val()].forEach(function (element) {
                    options += '<option value="' + element[0] + '">' + element[1] + '</option>'
                });
                $("#id_sub_sub_category").empty().append(options);
            }
            else {
                sub_sub_category_block.hide();
            }
        });

        function add_countries() {
            var result = [];
            for (var key in calling_codes) {
                result += '<li><a class="changeType" href="javascript:;"data-type-value="' + key + '">' + key + '</a></li>'
            }
            ;
            return result;
        }

        $('.phone-list').on('keypress', 'input', preventNonNumericInput);

        $(function () {
            $(document.body).on('click', '.changeType', function () {
                $(this).closest('.phone-input').find('.type-text').text($(this).text());
                $(this).closest('.phone-input').find('.type-input').val(calling_codes[$(this).data('type-value')]);
            });
            $(document.body).on('click', '.btn-remove-phone', function () {
                $(this).closest('.phone-input').remove();
            });
            $('.btn-add-phone').click(function () {
                var country = $('.phone-input').find('.type-text').last().text();
                if (!country) {
                    var location = getCookie('location');
                    location = JSON.parse(decodeURI(location));
                    country = (location['country'] ? location['country'] : 'Country');
                }
                var value = calling_codes[country];
                value = (value ? value : '');
                $('.phone-list').append('' +
                    '<div class="input-group phone-input">' +
                    '<span class="input-group-btn">' +
                    '<button type="button" id="country_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">' +
                    country +
                    '</span> <span class="caret"></span></button>' +
                    '<ul class="dropdown-menu scrollable-phones-menu" role="menu">' +
                    add_countries() +
                    '</ul>' +
                    '</span>' +
                    '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                    calling_codes[country] + '" />' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                    '</span>' +
                    '</div>'
                );
                add_countries();
            });
        });
    });
    </script>
{% endblock extra_js %}