{% extends "base.html" %}
{% load staticfiles i18n thumbnail common %}
{% block title %} {{ object.title }} {{ object.country }},{{ object.city }}
{% endblock title %}
{% block extra_css %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    <meta property="og:url"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "classifieds:details" pk=object.id %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=" {{ object.title }} {{ object.country }},{{ object.city }}"/>
    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{ object.images.first.image }}"/>
    <meta property="og:description" content="{{ object.description|striptags|safe }}"/>
{% endblock extra_css %}
{% block content %}
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
        <div class="container">
            <div class="c-shop-product-details-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-product-gallery">
                            {% if object.images.all %}
                                <div style="height: 400px" class="c-product-gallery-content">
                                    {% for image in  object.images.all %}
                                        <div style="height: 400px" class="c-zoom">
                                            <img src="{{ image.image.url }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>
                                    <img src="{% static 'assets/base/img/nopic.png' %}">
                                </div>
                            {% endif %}
                            <div class="row c-product-gallery-thumbnail">
                                {% for image in  object.images.all %}
                                    {% thumbnail image.image "260x230" crop="center" as im %}
                                        <div class="col-xs-2 c-product-thumb">
                                            <img src="{{ im.url }}">
                                        </div>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">
                                    <span id="property-deal">{{ object.title }}</span>
                                </h3>
                                <div class="c-line-left"></div>
                                <div
                                        class="fb-like"
                                        data-share="true"
                                        data-width="450"
                                        data-show-faces="true">
                                </div>
                            </div>
                            <div class="c-product-badge">
                                {% if object.new_building %}
                                    <div class="c-product-new">New</div>
                                {% endif %}
                            </div>
                            <div class="c-product-review"></div>
                            {% if object.price %}
                                <div class="c-product-price">{{ object.price }} &#8364;</div>
                            {% endif %}
                            <div class="c-product-short-desc">{{ object.description|safe|linebreaks }}</div>
                            <div class="row c-product-variant">
                                {% if object.seller_type %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Seller type" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.get_seller_type_display }}</p>
                                    </div>
                                {% endif %}
                                {% if object.options %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "options" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.options }}</p>
                                    </div>
                                {% endif %}

                                {% if object.sub_category %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "category" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.sub_category.name }}
                                            ares</p>
                                    </div>
                                {% endif %}
                                {% if object.sub_sub_category %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "sub category" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.sub_sub_category.name }}</p>
                                    </div>
                                {% endif %}
                                {% if object.country %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "location" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.country.name }}
                                            {% if object.city %} {{ object.city.name }}{% endif %}</p>
                                    </div>
                                {% endif %}
                                {% if object.seller %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Seller" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.seller.name }}</p>
                                    </div>
                                {% endif %}
                                <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                    <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Publication date" %}:</p>
                                    <p class="c-desc c-font-16 c-font-thin"><span>{{ object.creation_date }}</span></p>
                                </div>
                                <div style="float: right">
                                    {% if object.url %}
                                        <span class="label label-default">
                                            <a style="color: white;" target="_blank"
                                               href="{{ object.url }}">{{ object.domain }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 c-margin-t-20">
                                        <a class="btn btn-block btn-social c-font-bold c-btn-square c-btn-uppercase btn-md  c-theme-btn"
                                           id="get_user_data">
                                            <i class="glyphicon glyphicon-user"></i> {% trans 'Show contact' %} </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 c-margin-t-20">
                                        <button id="subscribe-btn"
                                                class="btn btn-block btn-social c-font-bold c-btn-square c-btn-uppercase btn-md  c-theme-btn">
                                            {% trans 'Add to Notification' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-TAB-1 -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
    <div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
        <div class="container">
            <div class="c-content-title-4">
                <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
                    <span class="c-bg-white">Most Popular</span>
                </h3>
            </div>
            <div class="row">
                <div data-slider="owl" data-items="4" data-auto-play="8000">
                    <div class="owl-carousel owl-theme c-theme owl-small-space">
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        Sale
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/18.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Samsung Galaxy Note 4</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/27.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Samsung Galaxy S4</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/21.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 5</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        Sale
                                    </div>
                                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">
                                        New
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/22.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">HTC</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/20.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 6</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-product-2 c-bg-white c-border">
                                <div class="c-content-overlay">
                                    <div class="c-label c-bg-red-2 c-font-uppercase c-font-white c-padding-10 c-font-13 c-font-bold">
                                        Hot
                                    </div>
                                    <div class="c-overlay-wrapper">
                                        <div class="c-overlay-content">
                                            <a href="shop-product-details-2.html"
                                               class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                        </div>
                                    </div>
                                    <div class="c-bg-img-center-contain c-overlay-object" data-height="height"
                                         style="height: 270px; background-image: url(/static/assets/base/img/content/shop5/24.png);"></div>
                                </div>
                                <div class="c-info">
                                    <p class="c-title c-font-18 c-font-slim">Apple iPhone 6+</p>
                                    <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                                        <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                                    </p>
                                </div>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group c-border-top" role="group">
                                        <a href="shop-product-wishlist.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                                    </div>
                                    <div class="btn-group c-border-left c-border-top" role="group">
                                        <a href="shop-cart.html"
                                           class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{ FACEBOOK_APP_ID }}',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        djangoContext.detailSubscriptionData = {
            category_index: {{ object.category_id }},
            {% if object.sub_category %}sub_category_index: {{ object.sub_category_id }},{% endif %}
            {% if object.sub_sub_category %}sub_sub_category_index: {{ object.sub_sub_category_id }},{% endif %}
            countries: {{ object.country_id }},
            {% if object.city %} city: {{ object.city_id }}{% endif %}
        };

        $(document).ready(function () {
            $('#get_user_data').on('click', function () {
                var result = $('<blockquote class="c-theme-border"></blockquote>');
                var button = $(this);
                $.ajax({
                    dataType: "json",
                    success: function (data) {
                        for (var key in data) {
                            result.append('<p>' + key + ': ' + data[key] + '</p>')
                        }
                        button.parent().empty().append(result)
                    }
                });
            });

            if (getCookie('subscribe') === 'true') {
                var filters = getSubscriptionFilters();
                if (filters) subscribeToNotification(filters);
            }
        });
    </script>
{% endblock extra_js %}