{% load pagination_tags staticfiles i18n thumbnail %}
{% autopaginate object_list post_count %}
{% for result in object_list %}
    {% with i=result.object %}
    {% if i.is_active %}
        <div class="row c-margin-b-40">
            <div class="c-content-product-2 c-bg-white">
                <div class="col-md-4">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                   href="{{ i.get_absolute_url }}">{% trans 'Explore' %}</a>
                            </div>
                        </div>
                        {% thumbnail i.images.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({{ im.url }});"></div>
                        {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({% static 'assets/base/img/nopic.png'%});"></div>
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-info-list">
                        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                            <a class="c-theme-link" href="{% url "classifieds:details" i.id %}">
                                {% if i.title %}
                                    {{ i.title }}
                                {% endif %}
                            </a>
                        </h3>
                        <p class="c-desc c-font-16 c-font-thin">
                            {{ i.country.name }} {% if i.city_id %}, {{ i.city.name }} {% endif %}
                        </p>
                        {% if i.price %}
                            <p class="c-price c-font-26 c-font-thin">{{ i.price }} &#8364;
                                {% if i.price_history and i.price > i.price_history|last %}
                                    <span class="c-font-26 c-font-line-through c-font-red">&#8364;{{ i.price_history|last }}</span>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endwith %}
    {% empty %}<p>No results found.</p>{% endfor %}
{#{% paginate %}#}

