{% extends "search/search_wrapper.html" %}
{% load staticfiles i18n %}
{% block sort %}
    <div class="c-filter" id="sort">
        <label class="control-label c-font-16">{% trans 'Sort&nbsp;By' %}:</label>
        <select id="sort" class="form-control c-square c-theme c-input">
            <option selected value="-date_index">{% trans "Date" %} ({% trans "New" %} &gt; {% trans "Old" %})</option>
            <option value="date_index">{% trans "Date" %} ({% trans "Old" %} &gt; {% trans "New" %})</option>
            <option value="price_index">{% trans "Price" %} ({% trans "Low" %} &gt; {% trans "High" %})</option>
            <option value="-price_index">{% trans "Price" %} ({% trans "High" %} &gt; {% trans "Low" %})</option>
        </select>
    </div>
{% endblock sort %}

{% block sidebar_range_filters %}
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
            <div class="c-line-left"></div>
            <div id="price_index-range_slider" ></div>
            <input class="input-number" id="price_index-input-number-r">
            <input class="input-number" id="price_index-input-number-l">
        </div>
    </div>
{% endblock sidebar_range_filters %}

{% block extra_js %}
    {{ block.super }}
    <script>
        window.djangoContext.urls.ajaxSearch = "{% url 'classifieds:search-ajax' %}";
        document.addEventListener('DOMContentLoaded', function () {
            SearchPage({
                q_text: "{{ request.GET.q }}",
                rangeFiltersList: {
                    'price_index': {
                        'range': {
                            'min': [0],
                            '5%': [50, 50],
                            '15%': [300, 100],
                            '25%': [1000, 500],
                            '50%': [15000, 1000],
                            '55%': [20000, 5000],
                            '60%': [50000, 10000],
                            '70%': [100000, 50000],
                            '80%': [500000, 100000],
                            '90%': [1000000, 500000],
                            'max': [2000000]
                        }
                    }
                }
            })
        })
    </script>
{% endblock extra_js %}