{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-lg c-bg-white-1">
            <div class="container">
                <form id="advert-form" class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{{ header }}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    {% csrf_token %}
                    <div class="col-md-8 col-md-offset-2" style="margin-bottom:10px">
                        {% include "ad_form_images.html" %}
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="c-content-accordion-1 c-accordion-grey">
                                <div class="panel-group" id="accordion-3" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingOne-3">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-19 c-font-dark-2" data-toggle="collapse"
                                                   data-parent="#accordion-100" href="#collapseOne-3"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne-3">MAIN OPTIONS</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne-3">
                                            <div class="panel-body c-font-18">
                                                {% if request.user.is_anonymous %}
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <a href="/accounts/facebook/login/?process=login"
                                                           class="btn btn-block c-btn-square btn-social btn-facebook socialaccount_provider facebook">
                                                            <i class="fa fa-facebook"></i> {% trans 'Sign in with Facebook' %}
                                                        </a>
                                                        <br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ user_form.email.label }} <span
                                                                class="c-font-red-2"><sup>*</sup></span>
                                                        </label>
                                                        <div class="col-md-6"> {{ user_form.email }}   </div>
                                                        <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ user_form.email.errors }}</div>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.seller_type.label }}
                                                    </label>
                                                    <div class="col-md-6" style="margin-top:7px">
                                                        {% for radio in car_form.seller_type %}
                                                            <div class="c-radio">
                                                                {{ radio.tag }}
                                                                <label for="id_seller_type_{{ forloop.counter0 }}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{ radio.choice_label }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {{ car_form.seller_type.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.country.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.country }}   </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.country.errors }}</div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.city.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.city }}   </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.city.errors }}</div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.brand.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.brand }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.brand.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.model.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.model }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.model.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.model_type.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.model_type }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.model_type.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.price.label }} (&#8364)
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.price }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.price.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.km.label }} (km)
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.km }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.km.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">{% trans 'Phones' %}<span
                                                            class="c-font-red-2"><sup>*</sup></span></label>
                                                    <div class="col-md-6">
                                                        <div class="phone-list">
                                                            <div class="input-group phone-input">
                                                                <span class="input-group-btn">
                                                                    <button type="button"
                                                                            id="country_button"
                                                                            class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            aria-expanded="false"><span
                                                                            class="type-text">{% trans 'Country' %}</span><span
                                                                            class="caret"></span></button>
                                                                        <ul id="first_phone"
                                                                            class="dropdown-menu scrollable-phones-menu"
                                                                            role="menu">
                                                                        </ul>
                                                                </span>
                                                                <input type="tel" name="phones"
                                                                       pattern="[\s\+0-9]{6,17}"
                                                                       class="form-control type-input"/>
                                                            </div>
                                                        </div>
                                                        <div>{{ car_form.phones.errors }}</div>
                                                        <div>
                                                            <br>
                                                            <button type="button"
                                                                    class="btn btn-info c-theme-btn c-btn-square c-btn-uppercase c-btn-bold btn-add-phone"><span
                                                                    class="glyphicon glyphicon-plus"></span> {% trans 'Add Phone' %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {% trans 'Hide phones for all posts' %}
                                                    </label>
                                                    <div class="col-md-6 c-checkbox c-toggle-hide"
                                                         data-object-selector="c-form-register"
                                                         data-animation-speed="600">
                                                        <div class="col-md-6">
                                                            <input type="checkbox" name="hide_phones"
                                                                   id="id_hide_phones" class="c-check"
                                                                    {% if request.user.hide_phones %}
                                                                    checked
                                                                    {% endif %}>
                                                            <label for="id_hide_phones">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.description.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.description }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.description.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingTwo-3">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-bold c-font-19 c-font-dark-2"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion-3" href="#collapseTwo-3"
                                                   aria-expanded="false"
                                                   aria-controls="collapseTwo-3">{% trans 'ADDITIONAL OPTIONS' %}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo-3" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo-3">
                                            <div class="panel-body c-font-18">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.model_year.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.model_year }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.model_year.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.model_month.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.model_month }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.model_month.errors }}</div>
                                                {% if car_form.finition %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ car_form.finition.label }}
                                                        </label>
                                                        <div class="col-md-6"> {{ car_form.finition }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.finition.errors }}</div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.energy.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.energy }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.energy.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.gear_box.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.gear_box }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.gear_box.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.cylinder.label }} (cm<sup>3</sup>)
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.cylinder }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.cylinder.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.power.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.power }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.power.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.color.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.color }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.color.errors }}</div>
                                                {% if car_form.color_inside %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ car_form.color_inside.label }}
                                                        </label>
                                                        <div class="col-md-6"> {{ car_form.color_inside }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.color_inside.errors }}</div>
                                                {% endif %}
                                                {% if car_form.doors %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ car_form.doors.label }}
                                                        </label>
                                                        <div class="col-md-6"> {{ car_form.doors }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.doors.errors }}</div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.places.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.places }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.places.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ car_form.options.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ car_form.options }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ car_form.options.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4" style="margin-top:10px">
                            <button class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                                    id="submit-btn" type="submit">Submit</button>
                            <a href="/" class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/base/js/modules/form_image_handle.js' %}"></script>
    <script type="text/javascript">
    var calling_codes = {{ calling_code|safe }};
    $(document).ready(function () {
        $('#first_phone').append(add_countries());
        var country = $('#id_country');
        if (!country.val()) { getLocation(setLocation); }

        $("#id_price").on('keypress', preventNonNumericInput);

        $("#id_city").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/realty/get_city/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_country: $("#id_country").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });

        $('#id_color').autocomplete({source: "/vehicles/get_colors/"});
        $('#id_color_inside').autocomplete({source: "/vehicles/get_colors/"});
        $('#id_brand').autocomplete({source: "/vehicles/get_brands/"});

        $("#id_model").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/vehicles/get_models/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_brand: $("#id_brand").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });
        {% if car_form.phones.value %}
            var phones = '{{ car_form.phones.value }}';
            var phone_list = $('.phone-list');
            phone_list.empty();
            phones.split(",").forEach(function (element) {
                phone_list.append('' +
                        '<div class="input-group phone-input">' +
                        '</span>' +
                        '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                        element + '" />' +
                        '<span class="input-group-btn">' +
                        '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                        '</span>' +
                        '<div>'
                );
            });
        {% endif %}

        function add_countries() {
            var result = [];
            for (var key in calling_codes) {
                result += '<li><a class="changeType" href="javascript:;"data-type-value="' + key + '">' + key + '</a></li>'
            }
            ;
            return result;
        }

        function setLocation(location) {
            $('.phone-input').find('.type-text').text(location['country']);
            $('.phone-input').find('.type-input').val(calling_codes[location['country']]);
            $("#" + country.attr('id') + " option:contains('" + location['country'] + "')").attr('selected', 'true');
            $('#id_city').val(location['locality']);
        }

        $('.phone-list').on('keypress', 'input', preventNonNumericInput);
        $(function () {

            $(document.body).on('click', '.changeType', function () {
                $(this).closest('.phone-input').find('.type-text').text($(this).text());
                $(this).closest('.phone-input').find('.type-input').val(calling_codes[$(this).data('type-value')]);
            });

            $(document.body).on('click', '.btn-remove-phone', function () {
                $(this).closest('.phone-input').remove();
            });
            $('.btn-add-phone').click(function () {

                var country = $('.phone-input').find('.type-text').last().text();
                if (!country) {
                    var location = getCookie('location');
                    location = JSON.parse(decodeURI(location));
                    country = (location['country'] ? location['country'] : 'Country');
                }
                var value = calling_codes[country];
                value = (value ? value : '');

                $('.phone-list').append('' +
                        '<div class="input-group phone-input">' +
                        '<span class="input-group-btn">' +
                        '<button type="button" id="country_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">' +
                        country +
                        '</span> <span class="caret"></span></button>' +
                        '<ul class="dropdown-menu scrollable-phones-menu" role="menu">' +
                        add_countries() +
                        '</ul>' +
                        '</span>' +
                        '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                        value + '" />' +
                        '<span class="input-group-btn">' +
                        '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                        '</span>' +
                        '</div>'
                );
                add_countries();
            });
        });
    });
    </script>
{% endblock extra_js %}