{% load common %}
{% load staticfiles i18n %}

<form name="search_form">
    {% if cities %}
        <li>
            <label class="control-label c-font-uppercase c-font-bold">{% trans 'City' %}</label>
            <select id="city" class="form-control c-square c-theme">
                <option value="0">{% trans "All" %}</option>
                {% for city in cities %}
                    <option value="{{ city.id }}"
                            {% if selected_city == city.id %}selected{% endif %}>
                        {{ city.name }}
                    </option>
                {% endfor %}
            </select>
        </li>
    {% endif %}
    {% for index, values in facets.items %}
        {% if values %}
            <li {% if index == 'sub_category' or index == 'sub_category_index' %}class="head-cat"{% endif %}>
                {% if index != 'sub_category' and index != 'sub_category_index' %}
                    <label class="control-label c-font-uppercase c-font-bold">{% trans index %}</label>
                {% endif %}
                <div style="{% if values|length >= 9 %}overflow: scroll;{% endif %} max-height: 280px; overflow-x: hidden;">
                    {% for dict in values %}
                        <div class="c-checkbox">
                            <input type="checkbox" id="{{ index }}{{ forloop.counter }}" class="c-check"
                                   name="{{ index }}"
                                   value="{% if dict|key:'index' %}{{ dict|key:'index' }}{% else %}not_provided{% endif %}"
                                    {% if conditions|key:index|stringformat:"s" == dict|key:'index'|stringformat:"s" or conditions|key:index == "not_provided" %}
                                   checked {% endif %}>
                            <label for="{{ index }}{{ forloop.counter }}">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                <p>{% if dict|key:'name' %}{{ dict|key:'name' | slice:"35" }}{% else %}Not provided{% endif %} - {{ dict|key:'count' }}</p>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
    
    {% if 'price_index' in range_filters %}
        <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
                <div class="c-line-left"></div>
                <div id="price_index-range_slider" ></div>
                <input class="input-number" id="price_index-input-number-l">
                <input class="input-number" id="price_index-input-number-r">
            </div>
        </div>
    {% endif %}

    {% if 'year_index' in range_filters %}
        <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "Years" %}</h3>
                <div class="c-line-left"></div>
                <div id="year_index-range_slider"></div>
                <input class="input-number" id="year_index-input-number-l">
                <input class="input-number" id="year_index-input-number-r">
            </div>
        </div>
    {% endif %}

    {% if colors %}
        <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1" id="colors-filters">
            <h3 class="c-font-uppercase c-font-bold">Colors</h3>
                <div class="c-line-left"></div>
                {% for c in colors %}
                    <div style="background: {{ c.index }}" class="color_faced_box" title="{{ c.name }}" data_info="{{ c.index }}"></div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if 'mileage_index' in range_filters %}
        <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "Mileage" %}</h3>
                <div class="c-line-left"></div>
                <div id="mileage_index-range_slider"></div>
                <input class="input-number" id="mileage_index-input-number-l">
                <input class="input-number" id="mileage_index-input-number-r">
            </div>
        </div>
    {% endif %}

    {% if 'power_index' in range_filters %}
        <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1 c-margin-t-20">
                <h3 class="c-font-uppercase c-font-bold">{% trans "power" %}</h3>
                <div class="c-line-left"></div>
                <div id="power_index-range_slider"></div>
                <input class="input-number" id="power_index-input-number-l">
                <input class="input-number" id="power_index-input-number-r">
            </div>
        </div>
    {% endif %}
</form>