{% load staticfiles i18n thumbnail %}
<div>
    <table width="750" align="center" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0"
           style="background:#fafafa;border-top-left-radius:0px;border-top-right-radius:0px;border-top-left-radius:0px;border-top-right-radius:0px;background-color:#fafafa;">
        <tbody>
        <tr>
            <td colspan="3" height="20" border="0" style="border:0;">
                <div style="line-height:0;width:1px;height:10px;">
                </div>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" border="1" style="border:0;">
                <div>
                    <div style="margin-left: 30px;text-align:left;font-family:Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;font-size:14px;color:rgb(104, 104, 104);">
                        <a href="http://{{ site.domain }}" target="_blank" rel="noreferrer noopener">
                            <img align="left" alt="{{ site.name }}" height="70"
                                 src="{{ site.domain }}{% static 'assets/base/img/skruut.jpg' %}"
                                 title="{{ site.name }}" width="80"
                                 style="border:0;display:block;margin:0 auto;font-family:Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;font-size:14px;color:rgb(104, 104, 104);text-decoration:underline;"></a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" border="0" style="border:0;">
                <div style="line-height:0;width:1px;height:10px;">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>