{% load staticfiles i18n thumbnail %}
<div>
    <table width="750" align="center" bgcolor="#fafafa" cellpadding="0" cellspacing="0"
           style="border-collapse:collapse;max-width:750px;">
        <tbody>
        <tr>
            <td width="22"></td>
            <td style="max-width:600px;">
                <br><span
                    style="font-family:Arial;color:#545454;font-size:26px;font-weight:bold;vertical-align:middle;">{% trans 'outdated adverts' %} </span>
                <br><br>
                <p>{% trans 'To update your posts go to your' %} <a
                        href="http://{{ site.domain }}{% url "users:posts" %}">{% trans 'profile' %}</a></p>
                <br><br></td>
            <td width="22"></td>
        </tr>
        {% for category, value in result.items %}
            <tr>
                <td width="22"></td>
                <td style="max-width:600px;">
                    <br><span
                        style="font-family:Arial;color:#545454;font-size:18px;font-weight:bold;vertical-align:middle;">{{ category|safe }} </span>
                    <br><br></td>
                <td width="22"></td>
            </tr>
            <tr>
                <td width="22"></td>
                <td style="max-width:600px;">
                    <p style="margin:0px;padding:0px;font-size:20px;font-family:Arial;color:#555555;">
                        {% for item in value %}
                            {% if category == 'cars' %}
                                <div>
                                    <div style="display: inline-block;">
                                        {% thumbnail item.images.first.image "260x230" crop="center" as im %}
                                            <img src="http://{{ site.domain }}{{ im.url }}">
                                            {% empty %}
                                            <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <a href="http://{{ site.domain }}{% url 'vehicles:car-details' item.pk %}"
                                           style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                            <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                {{ item.brand }}
                                                {% if item.model.model_name != 'Others models' %}
                                                    {{ item.model }}
                                                {% endif %}</font>
                                        </a>
                                        <br><span
                                            style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.country }}
                                        {% if item.city %}
                                            {{ item.city }}{% endif %}</span>
                                        {% if item.price %}
                                            <br><span
                                                style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.price }} &#8364;</span>
                                        {% endif %}
                                        {% if item.gear_box %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'gear box' %} - {{ item.gear_box }}</span>
                                        {% endif %}
                                        {% if item.km %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'mileage' %} - {{ item.km }}</span>
                                        {% endif %}
                                        <br><br>
                                    </div>
                                </div>
                            {% endif %}

                            {% if category == 'realty' %}
                                <div>
                                    <div style="display: inline-block;">
                                        {% thumbnail item.images.first.image "260x230" crop="center" as im %}
                                            <img src="http://{{ site.domain }}{{ im.url }}">
                                            {% empty %}
                                            <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <a href="http://{{ site.domain }}{% url "realty:details" item.pk %}"
                                           style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                            <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                {% if item.property_type_type.name %}
                                                    {{ item.property_type_type }}{% else %}
                                                    {{ item.property_type }}{% endif %}
                                                for {{ item.get_deal_display }}
                                            </font>
                                        </a>
                                        <br><span
                                            style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.country }}
                                        {% if item.city %},
                                            {{ item.city }}{% endif %}</span>
                                        {% if item.price %}
                                            <br><span
                                                style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.price }} &#8364;</span>
                                        {% endif %}
                                        <br><br>
                                    </div>
                                </div>
                            {% endif %}
                            {% if category == 'jobs' %}
                                <div>
                                    <div style="display: inline-block;">
                                        <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                    </div>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <a href="http://{{ site.domain }}{% url "jobs:details" item.pk %}"
                                           style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                            <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                {% if item.title|length > 36 %}
                                                    {{ item.title| slice:"33" }}...
                                                {% else %}
                                                    {{ item.title }}
                                                {% endif %}
                                            </font>
                                        </a>
                                        <br><span
                                            style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.country }}
                                        {% if item.city %},
                                            {{ item.city }}{% endif %}</span>
                                        {% if item.category.all %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Category" %} -
                                            {% for j in item.category.all %}
                                                {{ j }}
                                            {% endfor %}</span>
                                        {% endif %}
                                        {% if item.candidate_level.all %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Candidate level" %} -
                                            {% for j in item.candidate_level.all %}
                                                {{ j }}
                                            {% endfor %}</span>
                                        {% endif %}
                                        {% if item.work_hours.all %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Work hours" %} -
                                            {% for j in item.work_hours.all %}
                                                {{ j }}
                                            {% endfor %}</span>
                                        {% endif %}
                                        {% if item.contract.all %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Contract" %} -
                                            {% for j in item.contract.all %}
                                                {{ j }}
                                            {% endfor %}</span>
                                        {% endif %}
                                        <br><br>
                                    </div>
                                </div>
                            {% endif %}

                            {% if category == 'classifieds' %}
                                <div>
                                    <div style="display: inline-block;">
                                        {% thumbnail item.images.first.image "260x230" crop="center" as im %}
                                            <img src="http://{{ site.domain }}{{ im.url }}">
                                            {% empty %}
                                            <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <a href="http://{{ site.domain }}{% url "classifieds:details" item.pk %}"
                                           style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                            <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                {% if item.title|length > 36 %}
                                                    {{ item.title| slice:"33" }}...
                                                {% else %}
                                                    {{ item.title }}
                                                {% endif %}
                                            </font>
                                        </a>
                                        <br><span
                                            style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.country }}
                                        {% if item.city %},
                                            {{ item.city }}{% endif %}</span>
                                        {% if item.price %}
                                            <br><span
                                                style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.price }} &#8364;</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if category == 'motorbikes' %}
                                <div>
                                    <div style="display: inline-block;">
                                        {% thumbnail item.images.first.image "260x230" crop="center" as im %}
                                            <img src="http://{{ site.domain }}{{ im.url }}">
                                            {% empty %}
                                            <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div style="display: inline-block; vertical-align: top;">
                                        <a href="http://{{ site.domain }}{% url 'vehicles:moto-details' item.pk %}"
                                           style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                            <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                {{ item.brand }}
                                                {% if item.model.model_name != 'Others models' %}
                                                    {{ item.model }}
                                                {% endif %}</font>
                                        </a>
                                        <br><span
                                            style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.country }}
                                        {% if item.city %}
                                            {{ item.city }}{% endif %}</span>
                                        {% if item.price %}
                                            <br><span
                                                style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.price }} &#8364;</span>
                                        {% endif %}
                                        {% if item.gear_box %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'gear box' %} - {{ item.gear_box }}</span>
                                        {% endif %}
                                        {% if item.km %}
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'mileage' %} - {{ item.km }}</span>
                                        {% endif %}
                                        <br><br>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <br>
                </td>
                <td width="22"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

