{% load staticfiles i18n thumbnail %}
<table width="750" align="center" bgcolor="#fafafa" cellpadding="0" cellspacing="0"
       style="border-collapse:collapse;max-width:750px;">
    <tbody>
    {% for category, subscriptions in result.items %}
        {% if subscriptions %}
            <tr>
                <td width="22"></td>
                <td style="max-width:600px;">
                    <br><span
                        style="font-family:Arial;color:#545454;font-size:26px;font-weight:bold;vertical-align:middle;">{{ category }}</span>
                    <br><br></td>
                <td width="22"></td>
            </tr>
            {% for subscription, value in subscriptions.items %}
                <tr>
                    <td width="22"></td>
                    <td style="max-width:600px;">
                        <br><span
                            style="font-family:Arial;color:#545454;font-size:18px;font-weight:bold;vertical-align:middle;">{{ subscription|safe }} </span>
                        <p>{% trans 'total new posts' %} - {{ value.total }}</p>
                        <a href="http://{{ site.domain }}{% url "users:adtoken" value.token 'unsubscribe' %}">
                            {% trans 'Unsubscribe' %}
                        </a>
                        <br><br></td>
                    <td width="22"></td>
                </tr>
                <tr>
                    <td width="22"></td>
                    <td style="max-width:600px;">
                        <p style="margin:0px;padding:0px;font-size:20px;font-family:Arial;color:#555555;">
                            {% for item in value.object_list %}
                                {% if value.category_id == 1 and value.object_list %}
                                    <div>
                                        <div style="display: inline-block;">
                                            {% thumbnail item.object.images.first.image "260x230" crop="center" as im %}
                                                <img src="http://{{ site.domain }}{{ im.url }}">
                                                {% empty %}
                                                <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                            {% endthumbnail %}
                                        </div>
                                        <div style="display: inline-block; vertical-align: top;">
                                            <a href="http://{{ site.domain }}{% url 'vehicles:car-details' item.object.pk %}"
                                               style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                                <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                    {{ item.object.brand }}
                                                    {% if item.object.model.model_name != 'Others models' %}
                                                        {{ item.object.model }}
                                                    {% endif %}</font>
                                            </a>
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.country }}
                                            {% if item.object.city %}
                                                {{ item.object.city }}{% endif %}</span>
                                            {% if item.object.price %}
                                                <br><span
                                                    style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.price }} &#8364;</span>
                                            {% endif %}
                                            {% if item.object.gear_box %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'gear box' %} - {{ item.object.gear_box }}</span>
                                            {% endif %}
                                            {% if item.object.km %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'mileage' %} - {{ item.object.km }}</span>
                                            {% endif %}
                                            <br><br>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if value.category_id == 2 and value.object_list %}
                                    <div>
                                        <div style="display: inline-block;">
                                            {% thumbnail item.object.images.first.image "260x230" crop="center" as im %}
                                                <img src="http://{{ site.domain }}{{ im.url }}">
                                                {% empty %}
                                                <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                            {% endthumbnail %}
                                        </div>
                                        <div style="display: inline-block; vertical-align: top;">
                                            <a href="http://{{ site.domain }}{% url "realty:details" item.object.pk %}"
                                               style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                                <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                    {% if item.object.property_type_type.name %}
                                                        {{ item.object.property_type_type }}{% else %}
                                                        {{ item.object.property_type }}{% endif %}
                                                    for {{ item.object.get_deal_display }}
                                                </font>
                                            </a>
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.country }}
                                            {% if item.object.city %},
                                                {{ item.object.city }}{% endif %}</span>
                                            {% if item.object.price %}
                                                <br><span
                                                    style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.price }} &#8364;</span>
                                            {% endif %}
                                            <br><br>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if value.category_id == 3 and value.object_list %}
                                    <div>
                                        <div style="display: inline-block;">
                                            <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                        </div>
                                        <div style="display: inline-block; vertical-align: top;">
                                            <a href="http://{{ site.domain }}{% url "jobs:details" item.object.pk %}"
                                               style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                                <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                    {% if item.object.title|length > 36 %}
                                                        {{ item.object.title| slice:"33" }}...
                                                    {% else %}
                                                        {{ item.object.title }}
                                                    {% endif %}
                                                </font>
                                            </a>
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.country }}
                                            {% if item.object.city %},
                                                {{ item.object.city }}{% endif %}</span>
                                            {% if item.object.category.all %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Category" %} -
                                                {% for j in item.object.category.all %}
                                                    {{ j }}
                                                {% endfor %}</span>
                                            {% endif %}
                                            {% if item.object.candidate_level.all %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Candidate level" %} -
                                                {% for j in item.object.candidate_level.all %}
                                                    {{ j }}
                                                {% endfor %}</span>
                                            {% endif %}
                                            {% if item.object.work_hours.all %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Work hours" %} -
                                                {% for j in item.object.work_hours.all %}
                                                    {{ j }}
                                                {% endfor %}</span>
                                            {% endif %}
                                            {% if item.object.contract.all %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">
                                                    {% trans "Contract" %} -
                                                {% for j in item.object.contract.all %}
                                                    {{ j }}
                                                {% endfor %}</span>
                                            {% endif %}
                                            <br><br>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if value.category_id == 4 and value.object_list %}
                                    <div>
                                        <div style="display: inline-block;">
                                            {% thumbnail item.object.images.first.image "260x230" crop="center" as im %}
                                                <img src="http://{{ site.domain }}{{ im.url }}">
                                                {% empty %}
                                                <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                            {% endthumbnail %}
                                        </div>
                                        <div style="display: inline-block; vertical-align: top;">
                                            <a href="http://{{ site.domain }}{% url "classifieds:details" item.object.pk %}"
                                               style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                                <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                    {% if item.object.title|length > 36 %}
                                                        {{ item.object.title| slice:"33" }}...
                                                    {% else %}
                                                        {{ item.object.title }}
                                                    {% endif %}
                                                </font>
                                            </a>
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.country }}
                                            {% if item.object.city %},
                                                {{ item.object.city }}{% endif %}</span>
                                            {% if item.object.price %}
                                                <br><span
                                                    style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.price }} &#8364;</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if value.category_id == 5 and value.object_list %}
                                    <div>
                                        <div style="display: inline-block;">
                                            {% thumbnail item.object.images.first.image "260x230" crop="center" as im %}
                                                <img src="http://{{ site.domain }}{{ im.url }}">
                                                {% empty %}
                                                <img src="http://{{ site.domain }}{% static "assets/base/img/nopic.png" %}">
                                            {% endthumbnail %}
                                        </div>
                                        <div style="display: inline-block; vertical-align: top;">
                                            <a href="http://{{ site.domain }}{% url 'vehicles:moto-details' item.object.pk %}"
                                               style="font-size:20px;font-family:Arial;color:#1e7ebc !important;text-decoration:underline;">
                                                <font style="font-size:20px;font-family:Arial;color:#1e7ebc;">
                                                    {{ item.object.brand }}
                                                    {% if item.object.model.model_name != 'Others models' %}
                                                        {{ item.object.model }}
                                                    {% endif %}</font>
                                            </a>
                                            <br><span
                                                style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.country }}
                                            {% if item.object.city %}
                                                {{ item.object.city }}{% endif %}</span>
                                            {% if item.object.price %}
                                                <br><span
                                                    style="font-weight: bold;font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{{ item.object.price }} &#8364;</span>
                                            {% endif %}
                                            {% if item.object.gear_box %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'gear box' %} - {{ item.object.gear_box }}</span>
                                            {% endif %}
                                            {% if item.object.km %}
                                                <br><span
                                                    style="font-family:Arial;color:#545454;font-size:16px;vertical-align:middle;line-height:24px;">{% trans 'mileage' %} - {{ item.object.km }}</span>
                                            {% endif %}
                                            <br><br>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </p>
                        <br>
                    </td>
                    <td width="22"></td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>


