{% load staticfiles i18n thumbnail %}
<div>
    <table width="750" align="center" bgcolor="#fafafa" cellpadding="0" cellspacing="0" border="0"
           style="background:#fafafa;border-top-left-radius:0px;border-top-right-radius:0px;border-top-left-radius:0px;border-top-right-radius:0px;background-color:#fafafa;">
        <tbody>
        <tr>
            <td colspan="3" height="20" border="0" style="border:0;">
                <div style="line-height:0;width:1px;height:10px;">
                </div>
            </td>
        </tr>
        <tr>
            <td width="22"></td>
            <td>
                <h3 class="c-left">
                    {% trans "Welcome, to" %} {{ site.name }}!
                    {% trans "You have posted a new advert" %}:
                    <a href="http://{{ ad.get_absolute_url }}">{{ ad.get_absolute_url }}</a>
                </h3>
            </td>
            <td width="22"></td>
        </tr>
        <tr>
            <td width="22"></td>
            <td>
                <p>
                    {% if token.user.is_verified %}
                        {% trans "To see you profile" %}
                        <a href="http://{{ site.domain }}{% url "users:adtoken" token 'profile' %}">{% trans "follow this link" %}.</a>
                    {% else %}
                        {% trans "To activate your advert please" %}
                        <a href="http://{{ site.domain }}{% url "users:adtoken" token 'activate' %}">{% trans "follow this link" %}.</a>
                    {% endif %}
                </p>
            </td>
            <td width="22"></td>
        </tr>
        <tr>
            <td width="22"></td>
            <td>
                <p>
                    {% trans "To delete your advert please" %}
                    <a href="http://{{ site.domain }}{% url "users:adtoken" token 'delete' %}">{% trans "follow this link" %}.</a>
                </p>
            </td>
            <td width="22"></td>
        </tr>
        <tr>
            <td width="22"></td>
            <td>
                <p>
                    {% trans "To edit your advert please" %}
                    <a href="http://{{ site.domain }}{% url "users:adtoken" token 'edit' %}">{% trans "follow this link" %}.</a>
                </p>
            </td>
            <td width="22"></td>
        </tr>

        <tr>
            <td width="22"></td>
            <td colspan="3" height="20" border="0" style="border:0;">
                <div style="line-height:0;width:1px;height:10px;">
                </div>
            </td>
            <td width="22"></td>
        </tr>
        </tbody>
    </table>
</div>