.c-layout-header.c-layout-header-6 .c-topbar .c-brand > .c-logo:after {
  background: none; }

.c-font-uppercase {
  margin-left: 10px; }

.c-layout-sidebar-menu .c-sidebar-menu.collapse {
  border: none; }

.c-content-accordion-2 .panel > .panel-heading > .panel-title > a {
  padding: 7px 7px 7px 7px; }

#sign-out {
  color: #ffffff;
  background-color: #FF9900;
  border-color: #FF9900; }

#sign-out:hover {
  color: #ffffff;
  background-color: #d07500;
  border-color: #ad5b00; }

#subscr-list > .c-checkbox {
  margin-top: 3px; }

#subscr-list > .c-checkbox:hover {
  background: #ededed; }

.preview-block {
  margin-top: 5px; }

.preview-block input {
  display: none; }

.preview-block .instead-preview {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 75px;
  word-wrap: break-word;
  overflow: hidden; }

.image_label, .image-stub, .image-preview {
  height: 100px;
  width: 107px; }

.image_label, .image-stub {
  cursor: pointer; }

.image_cross, .img-remove {
  position: absolute;
  line-height: 25px;
  padding: 3px 6px 2px;
  background-color: #FFF;
  top: 0;
  right: 0;
  cursor: pointer; }

.upload-progress {
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 10px;
  background-color: #32c5d2; }

.input-number {
  padding: 7px;
  margin: 15px 5px 5px;
  width: 100px; }

.c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
  padding: 10px 60px 10px 10px;
  font-size: 30px; }

.color_faced_box {
  width: 25px;
  height: 25px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  margin-left: 7px;
  margin-bottom: -2px; }

.c-font-16 {
  font-size: 21px; }

.chosen-container-multi .chosen-choices {
  border-color: #dbdada; }

.marg-r {
  margin-right: 10px; }

.your-loc,
.c-page-breadcrumbs li.chosen-wrapper {
  display: none; }

.errorlist {
  font-weight: bold;
  color: red; }

.c-page-breadcrumbs > li.your-loc {
  margin-bottom: 20px; }

#subscr-list label {
  cursor: pointer;
  display: block;
  padding-left: 1px; }

#subscr-list label:hover {
  background-color: #E8E7E7;
  border-radius: 3px; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #AAA 1px; }

.c-padding-20.c-margin-t-40.c-bg-grey-1.c-bg-img-bottom-right.c-sidebar-menu.collapse.sidebar-menu-1 {
  padding: 20px; }

.c-layout-sidebar-menu #subscribe-btn {
  display: inline-block;
  vertical-align: top;
  margin: 16px 10px; }

.c-layout-header .c-topbar .c-top-menu > .c-icons,
.c-layout-header .c-topbar .c-top-menu > .c-links,
.c-layout-header .c-topbar .c-top-menu > .c-ext {
  display: inline; }

.bar {
  width: 90%;
  margin-top: 3px;
  display: inline-block;
  height: 18px; }

.energy-class-name {
  width: 20px;
  display: inline-block; }

span.bar-wrapper {
  min-width: 65%;
  display: inline-block;
  margin-right: 10px; }

#energy_class_a {
  width: 20%; }

#energy_class_a, .energy-A {
  background-color: #03802f; }

#energy_class_b {
  width: 30%; }

#energy_class_b, .energy-B {
  background-color: #4f9d2a; }

#energy_class_c {
  width: 40%; }

#energy_class_c, .energy-C {
  background-color: #91b41e; }

#energy_class_d {
  width: 50%; }

#energy_class_d, .energy-D {
  background-color: #e1d506; }

#energy_class_e {
  width: 60%; }

#energy_class_e, .energy-E {
  background-color: #f6e810; }

#energy_class_f {
  width: 70%; }

#energy_class_f, .energy-F {
  background-color: #f5a60b; }

#energy_class_g {
  width: 80%; }

#energy_class_g, .energy-G {
  background-color: #e54f1f; }

#energy_class_h {
  width: 90%; }

#energy_class_h, .energy-H {
  background-color: #df0d1f; }

#energy_class_i {
  width: 100%; }

#energy_class_i, .energy-I {
  background-color: #ba011d; }

.energy-A, .energy-B, .energy-C, .energy-D, .energy-E, .energy-F,
.energy-G, .energy-H, .energy-I {
  font-weight: bold;
  color: #fff;
  padding: 0 5px; }

#sidebar-menu-2 .c-content-title-1 > h3.c-font-uppercase {
  font-size: 20px; }

.select2-selection__choice__remove {
  font-size: 25px;
  line-height: 22px;
  vertical-align: bottom; }

#home-galary .cbp-l-caption-alignLeft .cbp-l-caption-body {
  padding: 10px 15px;
  min-height: 80px; }

form .c-content-accordion-1.c-accordion-grey .panel > .panel-heading > .panel-title > a.collapsed {
  background-color: #EEE; }

#map {
  width: 100%; }

.c-layout-header .c-cart-menu {
  border: 1px solid #f3f3f3;
  display: none;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: inherit;
  z-index: 10;
  padding: 5px;
  right: 0; }

.c-header-cart-shown .c-layout-header .c-cart-menu {
  display: block; }

.c-layout-header .c-cart-menu .c-cart-menu-title {
  padding: 20px; }

.c-layout-header .c-cart-menu .c-cart-menu-title > .c-cart-menu-float-l {
  float: left;
  display: inline-block; }

.c-layout-header .c-cart-menu .c-cart-menu-title > .c-cart-menu-float-r {
  float: right;
  display: inline-block; }

.c-layout-header .c-cart-menu .c-cart-menu-items {
  padding: 0; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li {
  border-top: 1px solid #f3f3f3;
  padding: 20px;
  width: 100%;
  list-style: none;
  overflow: auto; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li > img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 20px; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li > .c-cart-menu-content {
  padding-left: 100px; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li > .c-cart-menu-content .c-item-name,
.c-layout-header .c-cart-menu .c-cart-menu-items > li > .c-cart-menu-content .c-item-price {
  line-height: 1em; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li > .c-cart-menu-close {
  float: right;
  margin-top: 10px; }

.c-layout-header .c-cart-menu .c-cart-menu-items > li > .c-cart-menu-close > a {
  font-size: 28px;
  font-family: arial;
  font-weight: 100;
  color: #ddd; }

.c-layout-header .c-cart-menu .c-cart-menu-footer {
  border-top: 1px solid #f3f3f3;
  padding: 20px;
  text-align: center; }

.c-cart-menu-items ul.c-content-list-1.c-theme.c-separator-dot a {
  display: block; }

.c-cart-menu-items ul.c-content-list-1.c-theme.c-separator-dot a:hover {
  background: #efefef; }

.post_text {
  margin-left: 30px;
  display: flex; }

.scrollable-phones-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden; }

#search-counts {
  position: absolute;
  width: 100%;
  line-height: normal;
  z-index: 1; }

#search-counts .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

#search-counts .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

#search-counts a {
  display: none; }

.c-shop-filter-search-1 li.head-cat + li.head-cat {
  margin-top: 0px; }

#location-input {
  display: none; }

.img-100 {
  max-width: 100px;
  max-height: 100px; }

#info-realties {
  width: 350px;
  max-height: 303px;
  margin-right: 10px; }

.info-item-data {
  width: 250px;
  display: inline-block;
  padding: 5px 0 0 10px;
  vertical-align: top; }

.info-item-data span {
  margin-right: 15px; }

.info-item {
  height: 101px;
  border-bottom: 1px solid #cfcfcf;
  font-size: 18px;
  display: block; }

.info-item:hover {
  background: #f9f9f9; }

.ta-right {
  text-align: right; }

.iw-loading {
  margin: 75px 138px;
  display: block; }

#search-filters-toggler {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 0px;
  display: none; }

.toggler-line {
  display: block;
  width: 35px;
  height: 4px;
  background: #adabab;
  margin: 5px; }

#map-ptt-filters {
  max-height: 240px;
  overflow-y: scroll;
  margin-top: 5px; }

#map-ptt-filters div.c-checkbox > label > p {
  margin: 0; }

#map-filters .c-content-title-1 > h3.c-font-uppercase {
  font-size: 21px; }

#ad-saving-window .modal-body {
  text-align: center; }

@media (min-width: 991px) {
  .c-desktop-logo {
    height: 60px; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control::-webkit-input-placeholder {
    color: #F4F4F4; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control::-moz-placeholder {
    color: #F4F4F4; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control:-moz-placeholder {
    color: #F4F4F4; }
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control:-ms-input-placeholder {
    color: #F4F4F4; } }

@media (max-width: 540px) {
  .c-layout-sidebar-menu #subscribe-btn {
    display: block; }
  .c-layout-header.c-layout-header-6 .c-topbar .c-top-menu > .c-links > li {
    margin: 10px 0; }
  .c-layout-header .c-topbar .c-top-menu > .c-links > li.c-divider {
    top: 7px; }
  #country_button {
    max-width: 200px; }
  .nav-tabs > li > a {
    padding: 10px 10px;
    font-size: 14px; } }

@media (min-width: 768px) {
  .c-content-product-2.c-bg-white.c-border {
    height: 370px; } }

@media (max-width: 991px) {
  .c-layout-header-fixed.c-layout-header-6-topbar.c-page-on-scroll > .c-layout-header-6 > .c-topbar {
    display: none; }
  .c-layout-header-fixed.c-layout-header-6-topbar.c-page-on-scroll > .c-layout-header-6 > .c-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: none;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
    z-index: 4; }
  .c-layout-header.c-layout-header-6 .c-topbar .c-top-menu .c-links {
    float: none; }
  .c-desktop-logo {
    height: 35px;
    margin-top: 15px; }
  .c-layout-header .c-cart-toggler-wrapper {
    display: inline !important; }
  #map-ptt-filters {
    max-height: 122px; } }

@media (min-width: 992px) {
  .c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
    color: #F4F4F4; }
  .c-desktop-logo {
    height: 60px; } }
