<div class="row c-product-gallery-thumbnail">
    {% for image in  images %}
        <div class="col-md-3 col-sm-3 col-xs-6 preview-block">
            <div style="position:relative; margin:auto; width:107px">
                <img class="image-preview" src="{{ image.image.url }}">
                <span class="img-remove glyphicon glyphicon-trash"></span>
                <input type="text" name="image_saved" value="{{ image.id }}">
            </div>
        </div>
    {% endfor %}
    {% for image in images_tmp %}
        <div class="col-md-3 col-sm-3 col-xs-6 preview-block">
            <div style="position:relative; margin:auto; width:107px">
                <img class="image-preview" src="{{ image }}">
                <span class="img-remove glyphicon glyphicon-trash"></span>
                <input type="text" name="image_tmp" value="{{ image }}">
            </div>
        </div>
    {% endfor %}
</div>
