{% load pagination_tags staticfiles thumbnail %}
{% autopaginate object_list post_count %}
{% load staticfiles i18n %}
{% for result in object_list %}
    {% with i=result.object %}
    {% if i.is_active == True %}
        <div class="row c-margin-b-40">
            <div class="c-content-product-2 c-bg-white">
                <div class="col-md-4">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                   href="{{ i.get_absolute_url }}">{% trans 'Explore' %}</a>
                            </div>
                        </div>
                        {% thumbnail i.images.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({{ im.url }});"></div>
                        {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({% static 'assets/base/img/nopic.png'%});"></div>
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-info-list">
                        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                            <a class="c-theme-link" href="{{ i.get_absolute_url }}">
                                {% if i.title %}
                                    {{ i.title }}
                                {% else %}
                                    {{ i.brand.brand_name }} {{ i.model.model_name }} {{ i.model_type }}
                                {% endif %}
                            </a>
                        </h3>
                        {% if i.country.name %}
                            <p class="c-desc c-font-16 c-font-thin">
                                {{ i.country.name }}{% if i.city.name %}, {{ i.city.name }} {% endif %}
                            </p>
                        {% endif %}
                        {% if i.gear_box %}
                            <p class="c-desc c-font-16 c-font-thin"> {% trans 'gear box' %} - {{ i.gear_box }}</p>
                        {% endif %}
                        {% if i.color and i.color.color %}
                            <p class="c-desc c-font-16 c-font-thin"> {% trans 'color' %} - {{ i.color.color }}<span style="background: {{ i.color }}" class="color_faced_box" title="{{ i.color }}"></span></p>
                        {% endif %}
                        {% if i.model_year %}
                            <p class="c-desc c-font-16 c-font-thin"> {% trans 'year' %} - {{ i.model_year }}</p>
                        {% endif %}
                        {% if i.km %}
                            <p class="c-desc c-font-16 c-font-thin"> {% trans 'mileage' %} - {{ i.km }} </p>
                        {% endif %}
                        {% if i.price %}
                            <p class="c-price c-font-26 c-font-thin">{{ i.price }} &#8364;
                                {% if i.price_history and i.price > i.price_history|last %}
                                    <span class="c-font-26 c-font-line-through c-font-red">{{ i.price_history|last }} &#8364;</span>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endwith %}
{% empty %}<p>{% trans 'No results found' %}.</p>{% endfor %}
{#{% paginate %}#}

