<h3 class="c-font-uppercase c-font-bold">Colors</h3>
<div class="c-line-left"></div>
{% for c in colors %}
    <div style="background: {{ c.index }}" class="color_faced_box" title="{{ c.name }}" data_info="{{ c.index }}"></div>
{% endfor %}