{% load common %}
{% load staticfiles i18n %}

<form name="search_form">
    {% if cities %}
        <li>
            <label class="control-label c-font-uppercase c-font-bold">{% trans 'City' %}</label>
            <select id="city" class="form-control c-square c-theme">
                <option value="0">{% trans "All" %}</option>
                {% for city in cities %}
                    <option value="{{ city.id }}"
                            {% if selected_city == city.id %}selected{% endif %}>
                        {{ city.name }}
                    </option>
                {% endfor %}
            </select>
        </li>
    {% endif %}

    {% for index, values in facets.items %}
        {% if values %}
            <li {% if index == 'sub_category' or index == 'sub_category_index' %}class="head-cat"{% endif %}>
                {% if index != 'sub_category' and index != 'sub_category_index' %}
                    <label class="control-label c-font-uppercase c-font-bold">{% trans index %}</label>
                {% endif %}
                <div style="{% if values|length >= 9 %}overflow: scroll;{% endif %} max-height: 280px; overflow-x: hidden;">
                    {% for dict in values %}
                        <div class="c-checkbox">
                            <input type="checkbox" id="{{ index }}{{ forloop.counter }}" class="c-check"
                                   name="{{ index }}"
                                   value="{% if dict|key:'index' %}{{ dict|key:'index' }}{% else %}not_provided{% endif %}"
                                    {% if conditions|key:index|stringformat:"s" == dict|key:'index'|stringformat:"s" or conditions|key:index == "not_provided" %}
                                   checked {% endif %}>
                            <label for="{{ index }}{{ forloop.counter }}">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                <p>{% if dict|key:'name' %}{{ dict|key:'name' | slice:"35" }}{% else %}Not provided{% endif %} - {{ dict|key:'count' }}</p>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endif %}
    {% endfor %}

</form>