{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/plugins/select2-4.0.3/select2.min.css' %}">
    <link href={% static "assets/plugins/rangeslider/nouislider.min.css" %} rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-12">
                            <span>{% trans "Your location:" %}</span>
                            <span id="location-span"></span>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-12 ta-right">
                            <button class="btn btn-xs" id="locate-me">{% trans "locate me" %}</button>
                            <button class="btn btn-xs" id="change-location">{% trans "change location" %}</button>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" id="location-input" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4" style="padding-top:8px;margin-bottom:35px;">
                    <div class="col-xs-8 col-sm-7">
                        <div id="radius-rangefilter"></div>
                    </div>
                    <div class="col-xs-4 col-sm-5" id="radius-step-value"></div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="chosen-wrapper">
                        <select data-placeholder="{% trans "Choose a country" %}..."
                                multiple class="chosen-select-country" class="search-filter" id="country_select">
                            {% for c in list_of_country %}
                                <option name="countries" value="{{ c.id }}" >{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
            <a id="subscribe-btn" href="javascript:;"
               class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans "subscribe to the notification" %}</a>
            <!--div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">{% trans "Filters" %}</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-2">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div-->
            <div class="c-sidebar-menu collapse" id="sidebar-menu-2">
            </div>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline" >
                <div class="c-filter" id="show">
                        <label class="control-label c-font-16">{% trans "Show" %}:</label>
                        <select id="show" class="form-control c-square c-theme c-input">
                        </select>
                    </div>
                {% block sort %}
                    <div class="c-filter" id="sort">
                        <label class="control-label c-font-16">{% trans "Sort By" %}:</label>
                        <select id="sort" class="form-control c-square c-theme c-input">
                            <option selected  value="-date_index">{% trans "Date" %} ({% trans "New" %} &gt; {% trans "Old" %})</option>
                            <option value="date_index">{% trans "Date" %} ({% trans "Old" %} &gt; {% trans "New" %})</option>
                            <option value="-year_index">{% trans "Year built" %} ({% trans "New" %} > {% trans "Old" %})</option>
                            <option value="year_index">{% trans "Year built" %} ({% trans "Old" %}>{% trans "New" %})</option>
                            <option value="price_index">{% trans "Price" %} ({% trans "Low" %} &gt; {% trans "High" %})</option>
                            <option value="-price_index">{% trans "Price" %} ({% trans "High" %} &gt; {% trans "Low" %})</option>
                        </select>
                    </div>
                {% endblock sort %}
            {% block grid %}
                <div class="c-filter" id="style">
                    <label class="control-label c-font-16">{% trans "Style" %}:</label>
                    <select id="style" class="form-control c-square c-theme c-input">
                        <option selected value="list">{% trans "list" %}</option>
                        <option  value="grid">{% trans "grid" %}</option>
                    </select>
                </div>
            {% endblock grid %}

            </div>
            <!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-margin-t-20"></div>
            {% block map %}
            {% endblock map %}
            <div id="search-list-result"  class="fire-reload-pagination"></div>
            <div class="c-margin-t-20"></div>
        </div>
    </div>



    <div id="search-filters" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content c-square">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">{% trans "Filters"|upper %}</h4>
                </div>
                <div class="modal-body">
                    <div id="left-sidebar-filters" class="fire-reload-filters c-shop-filter-search-1 list-unstyled"></div>
                    {% block sidebar_range_filters %}
                    {% endblock sidebar_range_filters %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold
                            c-btn-uppercase" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>



<!-- END: PAGE CONTAINER -->
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'assets/plugins/rangeslider/nouislider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/select2-4.0.3/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/base/js/modules/search-page.js' %}"></script>
{% endblock extra_js %}