{% extends "search/search_wrapper.html" %}
{% load i18n %}

{% block sidebar_range_filters %}
    {{ block.super }}
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Years" %}</h3>
            <div class="c-line-left"></div>
            <div id="year_index-range_slider"></div>
            <input class="input-number" id="year_index-input-number-r">
            <input class="input-number" id="year_index-input-number-l">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1" id="colors-filters">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Mileage" %}</h3>
            <div class="c-line-left"></div>
            <div id="mileage_index-range_slider"></div>
            <input class="input-number" id="mileage_index-input-number-r">
            <input class="input-number" id="mileage_index-input-number-l">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1 c-margin-t-20">
            <h3 class="c-font-uppercase c-font-bold">{% trans "power" %}</h3>
            <div class="c-line-left"></div>
            <div id="power_index-range_slider"></div>
            <input class="input-number" id="power_index-input-number-r">
            <input class="input-number" id="power_index-input-number-l">
        </div>
    </div>
{% endblock sidebar_range_filters %}

{% block extra_js %}
    {{ block.super }}
    <script>
        djangoContext.urls.ajaxSearch = "{% url 'vehicles:search-ajax' %}"

        document.addEventListener('DOMContentLoaded', function () {
            SearchPage({
                q_text: "{{ request.GET.q }}",
                url: "don't forget forward url namespace",
                rangeFiltersList: {
                    'price_index': {
                        'range': {
                            'min': [0],
                            '5%': [50, 50],
                            '15%': [300, 100],
                            '25%': [1000, 500],
                            '50%': [15000, 1000],
                            '55%': [20000, 5000],
                            '60%': [50000, 10000],
                            '70%': [100000, 50000],
                            '80%': [500000, 100000],
                            '90%': [1000000, 500000],
                            'max': [2000000]
                        }
                    },
                    'year_index': {
                        'range': {'min': [1900], 'max': [new Date().getFullYear()]},
                        'moneyFormat': wNumb({}),
                        'step': 1
                    },
                    'mileage_index': {'range': {'min': [0], 'max': [200000]}},
                    'power_index': {'range': {'min': [0], 'max': [2000]}, 'step': 1}
                }
            });
        });
    </script>
{% endblock extra_js %}