{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-lg c-bg-white-1">
            <div class="container">
                <form id="advert-form" class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'Job' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="c-content-accordion-1 c-accordion-grey">
                                <div class="panel-group" id="accordion-1" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingOne-3">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-19 c-font-dark-2" data-toggle="collapse"
                                                   data-parent="#accordion-100" href="#collapseOne-3"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne-3">{% trans 'MAIN OPTIONS' %}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne-3">
                                            <div class="panel-body c-font-18">
                                                {% if request.user.is_anonymous %}
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <a href="/accounts/facebook/login/?process=login"
                                                           class="btn btn-block c-btn-square btn-social btn-facebook socialaccount_provider facebook">
                                                            <i class="fa fa-facebook"></i> {% trans 'Sign in with Facebook' %}
                                                        </a>
                                                        <br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ user_form.email.label }} <span
                                                                class="c-font-red-2"><sup>*</sup></span>
                                                        </label>
                                                        <div class="col-md-6"> {{ user_form.email }} </div>
                                                        <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ user_form.email.errors }}</div>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.seller_type.label }}
                                                    </label>
                                                    <div class="col-md-6" style="margin-top:7px">
                                                        {% for radio in job_form.seller_type %}
                                                            <div class="c-radio">
                                                                {{ radio.tag }}
                                                                <label for="id_seller_type_{{ forloop.counter0 }}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{ radio.choice_label }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {{ job_form.seller_type.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.title.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ job_form.title }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.title.errors }}</div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <div class="c-content-accordion-2 ">
                                                            <div class="panel-group" id="accordion-2" role="tablist">
                                                                <div class="panel">
                                                                    <div class="panel-heading" role="tab"
                                                                         id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a class="c-font-bold c-font-19 c-bg-white c-font-dark-1 "
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion-2"
                                                                               href="#collapseCategoty"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseOne">
                                                                                {{ job_form.category.label }} <span
                                                                                    class="c-font-red-2"><sup>*</sup></span>
                                                                                </label>
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseCategoty"
                                                                         class="panel-collapse collapse"
                                                                         role="tabpanel"
                                                                         aria-labelledby="headingOne"
                                                                         aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body c-font-18 c-bg-white">
                                                                            {% for i in job_form.category %}
                                                                                <div class="c-font-dark-1">
                                                                                    <div class="col-md-12 c-checkbox c-toggle-hide"
                                                                                         data-object-selector="c-form-register"
                                                                                         data-animation-speed="600">
                                                                                        <div>
                                                                                            {{ i.tag }}
                                                                                            <label for="id_category_{{ forloop.counter0 }}">
                                                                                                <span class="inc"></span>
                                                                                                <span class="check"></span>
                                                                                                <span class="box"></span>
                                                                                                {{ i.choice_label }}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">{{ job_form.category.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.country.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6">{{ job_form.country }}   </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.country.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.city.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ job_form.city }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.city.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.description.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ job_form.description }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.description.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingTwo-4">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-bold c-font-19 c-font-dark-2"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion-3" href="#collapseTwo-3"
                                                   aria-expanded="false"
                                                   aria-controls="collapseTwo-3">{% trans 'EMPLOYER' %}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo-3" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo-3">
                                            <div class="panel-body c-font-18">
                                                {% if employer_select_form %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {% trans 'Employer' %}
                                                        </label>
                                                        <div class="col-md-6"> {{ employer_select_form.employer }}</div>
                                                    </div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ employer_select_form.employer.errors }}</div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ employer_form.name.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ employer_form.name }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ employer_form.name.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ employer_form.site.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ employer_form.site }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ employer_form.site.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ employer_form.email.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ employer_form.email }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ employer_form.email.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ employer_form.address.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ employer_form.address }}</div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">{% trans 'Phones' %}<span
                                                            class="c-font-red-2"><sup>*</sup></span></label>
                                                    <div class="col-md-6">
                                                        <div class="phone-list">
                                                            <div class="input-group phone-input">
                                                                <span class="input-group-btn">
                                                                    <button type="button"
                                                                            id="country_button"
                                                                            class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            aria-expanded="false"><span
                                                                            class="type-text">{% trans 'Country' %}</span><span
                                                                            class="caret"></span></button>
                                                                        <ul id="first_phone"
                                                                            class="dropdown-menu scrollable-phones-menu"
                                                                            role="menu">
                                                                        </ul>
                                                                </span>
                                                                <input type="tel" name="employer-phones"
                                                                       pattern="[\s\+0-9]{6,17}"
                                                                       class="form-control type-input"/>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <br>
                                                            <button type="button"
                                                                    class="btn btn-info c-theme-btn c-btn-square c-btn-uppercase c-btn-bold btn-add-phone"><span
                                                                    class="glyphicon glyphicon-plus"></span> Add Phone
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ employer_form.phones.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {% trans 'Hide phones for all posts' %}
                                                    </label>
                                                    <div class="col-md-6 c-checkbox c-toggle-hide"
                                                         data-object-selector="c-form-register"
                                                         data-animation-speed="600">
                                                        <div class="col-md-6">
                                                            <input type="checkbox" name="hide_phones"
                                                                   id="id_hide_phones" class="c-check"
                                                                    {% if request.user.hide_phones %}
                                                                   checked
                                                                    {% endif %}>
                                                            <label for="id_hide_phones">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingthree-3">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-bold c-font-19 c-font-dark-2"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion-3" href="#collapsethree-3"
                                                   aria-expanded="false"
                                                   aria-controls="collapsethree-3">{% trans 'ADDITIONAL OPTIONS' %}</a>
                                            </h4>
                                        </div>
                                        <div id="collapsethree-3" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo-3">
                                            <div class="panel-body c-font-18">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ job_form.address.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ job_form.address }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.address.errors }}</div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <div class="c-content-accordion-2 ">
                                                            <div class="panel-group" id="accordion-2" role="tablist">
                                                                <div class="panel">
                                                                    <div class="panel-heading" role="tab"
                                                                         id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a class="c-font-bold c-font-19 c-bg-white c-font-dark-1 "
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion-2"
                                                                               href="#collapseContract"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseOne">
                                                                                {{ job_form.contract.label }}
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseContract"
                                                                         class="panel-collapse collapse"
                                                                         role="tabpanel"
                                                                         aria-labelledby="headingOne"
                                                                         aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body c-font-18 c-bg-white">
                                                                            {% for i in job_form.contract %}
                                                                                <div class="c-font-dark-1">
                                                                                    <div class="col-md-12 c-checkbox c-toggle-hide"
                                                                                         data-object-selector="c-form-register"
                                                                                         data-animation-speed="600">
                                                                                        <div>
                                                                                            {{ i.tag }}
                                                                                            <label for="id_contract_{{ forloop.counter0 }}">
                                                                                                <span class="inc"></span>
                                                                                                <span class="check"></span>
                                                                                                <span class="box"></span>
                                                                                                {{ i.choice_label }}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.contract.errors }}</div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <div class="c-content-accordion-2 ">
                                                            <div class="panel-group" id="accordion-2" role="tablist">
                                                                <div class="panel">
                                                                    <div class="panel-heading" role="tab"
                                                                         id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a class="c-font-bold c-font-19 c-bg-white c-font-dark-1 "
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion-2"
                                                                               href="#collapseWorkHours"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseOne">
                                                                                {{ job_form.work_hours.label }}
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseWorkHours"
                                                                         class="panel-collapse collapse"
                                                                         role="tabpanel"
                                                                         aria-labelledby="headingOne"
                                                                         aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body c-font-18 c-bg-white">
                                                                            {% for i in job_form.work_hours %}
                                                                                <div class="c-font-dark-1">
                                                                                    <div class="col-md-12 c-checkbox c-toggle-hide"
                                                                                         data-object-selector="c-form-register"
                                                                                         data-animation-speed="600">
                                                                                        <div>
                                                                                            {{ i.tag }}
                                                                                            <label for="id_work_hours_{{ forloop.counter0 }}">
                                                                                                <span class="inc"></span>
                                                                                                <span class="check"></span>
                                                                                                <span class="box"></span>
                                                                                                {{ i.choice_label }}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.work_hours.errors }}</div>
                                                <div class="form-group">
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <div class="c-content-accordion-2 ">
                                                            <div class="panel-group" id="accordion-2" role="tablist">
                                                                <div class="panel">
                                                                    <div class="panel-heading" role="tab"
                                                                         id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a class="c-font-bold c-font-19 c-bg-white c-font-dark-1 "
                                                                               data-toggle="collapse"
                                                                               data-parent="#accordion-2"
                                                                               href="#collapseCandidateLevel"
                                                                               aria-expanded="false"
                                                                               aria-controls="collapseOne">
                                                                                {{ job_form.candidate_level.label }}
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseCandidateLevel"
                                                                         class="panel-collapse collapse"
                                                                         role="tabpanel"
                                                                         aria-labelledby="headingOne"
                                                                         aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body c-font-18 c-bg-white">
                                                                            {% for i in job_form.candidate_level %}
                                                                                <div class="c-font-dark-1">
                                                                                    <div class="col-md-12 c-checkbox c-toggle-hide"
                                                                                         data-object-selector="c-form-register"
                                                                                         data-animation-speed="600">
                                                                                        <div>
                                                                                            {{ i.tag }}
                                                                                            <label for="id_candidate_level_{{ forloop.counter0 }}">
                                                                                                <span class="inc"></span>
                                                                                                <span class="check"></span>
                                                                                                <span class="box"></span>
                                                                                                {{ i.choice_label }}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ job_form.candidate_level.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit"
                                        class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit
                                </button>
                                <a href="/"
                                   class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function () {
        var employer_fields = ['name', 'site', 'email', 'address', 'phones'];
        var calling_codes = {{ calling_code|safe }};
        $('#first_phone').append(add_countries());
        if (!$('#id_country').val()) {
            getLocation(setLocation);
        }
        {% if employer_form.phones.value %}
            add_phones('{{ employer_form.phones.value }}');
        {% endif %}

        $("#id_employer").on('change', function () {
            var employer_id = $("#id_employer").val();
            if (employer_id) {
                $.ajax({
                    url: "/jobs/get_employer/",
                    dataType: "json",
                    data: {
                        id_employer: employer_id
                    },
                    success: function (data) {
                        employer_fields.forEach(function (item, i, arr) {
                            if (item == 'phones') {
                                add_phones(data[item].toString());
                            }
                            else {
                                $("#id_employer-" + item).val(data[item]);
                            }
                        })
                    }
                });
            }
            else {
                employer_fields.forEach(function (item, i, arr) {
                    $("#id_employer-" + item).val('');
                })
            }
        });

        $("#id_city").autocomplete({
            source: function source(request, response) {
                $.ajax({
                    url: "/jobs/get_city/",
                    dataType: "json",
                    data: {
                        term: request.term,
                        id_country: $("#id_country").val()
                    },
                    success: function (data) {
                        response(data);
                    }
                });
            }
        });

        function setLocation(location) {
            $('.phone-input').find('.type-text').text(location['country']);
            $('.phone-input').find('.type-input').val(calling_codes[location['country']]);
            $("#id_country option:contains('" + location['country'] + "')").attr('selected', 'true');
            $('#id_city').val(location['locality']);
        }


        function add_countries() {
            var result = [];
            for (var key in calling_codes) {
                result += '<li><a class="changeType" href="javascript:;"data-type-value="' + key + '">' + key + '</a></li>'
            }
            ;
            return result;
        }
        $('.phone-list').on('keypress', 'input', preventNonNumericInput);

        $(function () {
            $(document.body).on('click', '.changeType', function () {
                $(this).closest('.phone-input').find('.type-text').text($(this).text());
                $(this).closest('.phone-input').find('.type-input').val(calling_codes[$(this).data('type-value')]);
            });

            $(document.body).on('click', '.btn-remove-phone', function () {
                $(this).closest('.phone-input').remove();
            });

            $('.btn-add-phone').click(function () {
                var country = $('.phone-input').find('.type-text').last().text();
                if (!country) {
                    var location = getCookie('location');
                    location = JSON.parse(decodeURI(location));
                    country = (location['country'] ? location['country'] : 'Country');
                }
                var value = calling_codes[country];
                value = (value ? value : '');

                $('.phone-list').append('' +
                    '<div class="input-group phone-input">' +
                    '<span class="input-group-btn">' +
                    '<button type="button" id="country_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">' +
                    country +
                    '</span> <span class="caret"></span></button>' +
                    '<ul class="dropdown-menu scrollable-phones-menu" role="menu">' +
                    add_countries() +
                    '</ul>' +
                    '</span>' +
                    '<input type="text" pattern="[\s\+0-9]{6,17}" name="employer-phones" class="form-control type-input" value="' +
                    calling_codes[country] + '" />' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                    '</span>' +
                    '</div>'
                );
                add_countries();
            });
        });

        function add_phones(phones) {
            var phone_list = $('.phone-list');
            phone_list.empty();
            phones.split(",").forEach(function (element) {
                phone_list.append('' +
                    '<div class="input-group phone-input">' +
                    '</span>' +
                    '<input type="text" pattern="[\s\+0-9]{6,17}" name="employer-phones" class="form-control type-input" value="' +
                    element + '" />' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                    '</span>' +
                    '<div>'
                );
            });
        }
    });
    </script>
{% endblock extra_js %}