{% load pagination_tags staticfiles thumbnail %}
{% autopaginate object_list post_count %}
{% load staticfiles i18n %}
{% for result in object_list %}
    {% with i=result.object %}
        {% if i.is_active == True %}
            <div class="col-md-3 col-sm-6 c-margin-b-20">
                <div class="c-content-product-2 c-bg-white c-border">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                   href="{{ i.get_absolute_url }}">{% trans 'Explore' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-16 c-font-slim">
                            <a class="c-theme-link" href="{{ i.get_absolute_url }}"
                               title="{{ i.title }} ">
                                {{ i.title }}
                            </a>
                        </p>
                        {% if i.category.all %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Category" %} -
                                {% for j in i.category.all %}
                                    {{ j }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% empty %}<p>{% trans 'No results found' %}.</p>{% endfor %}
{#{% paginate %}#}