{% load pagination_tags staticfiles i18n thumbnail %}
{% autopaginate object_list post_count %}
{% for result in object_list %}
    {% with i=result.object %}
    {% if i.is_active %}
        <div class="row c-margin-b-40">
            <div class="c-content-product-2 c-bg-white">
                <div class="col-md-4">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                   href="{% url "jobs:details" i.id %}">Explore</a>
                            </div>
                        </div>
                        {% thumbnail i.images.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({{ im.url }});"></div>
                            {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-size:unset;
                                        background-image: url({% static 'assets/base/img/nopic.png' %});"></div>
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="c-info-list">
                        <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                            <a class="c-theme-link" href="{% url "jobs:details" i.id %}">
                                {{ i.title }}
                            </a>
                        </h3>
                        <p class="c-desc c-font-16 c-font-thin">
                            {% trans "Location" %} - {{ i.country.name }}{% if i.city_id %}, {{ i.city.name }} {% endif %}
                        </p>
                        {% if i.category.all %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Category" %} -
                                {% for j in i.category.all %}
                                    {{ j }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if i.candidate_level.all %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Candidate level" %} -
                                {% for j in i.candidate_level.all %}
                                    {{ j.candidate_level }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if i.work_hours.all %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Work hours" %} -
                                {% for j in i.work_hours.all %}
                                    {{ j.work_hours }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if i.contract.all %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Contract" %} -
                                {% for j in i.contract.all %}
                                    {{ j.contract }}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if i.employer %}
                            <p class="c-desc c-font-16 c-font-thin">{% trans "Employer" %}
                                - {{ i.employer.name }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% endwith %}
    {% empty %}<p>No results found.</p>{% endfor %}
{#{% paginate %}#}

