{% extends "search/search_wrapper.html" %}
{% load staticfiles i18n %}

{% block sidebar_range_filters %}
{% endblock sidebar_range_filters %}
{% block sort %}
    <div class="c-filter" id="sort">
        <label class="control-label c-font-16">{% trans 'Sort&nbsp;By' %}:</label>
        <select id="sort" class="form-control c-square c-theme c-input">
            <option selected value="-date_index">{% trans "Date" %} ({% trans "New" %} &gt; {% trans "Old" %})</option>
            <option value="date_index">{% trans "Date" %} ({% trans "Old" %} &gt; {% trans "New" %})</option>
        </select>
    </div>
{% endblock sort %}
{% block map %}
{% endblock map %}

{% block extra_js %}
    {{ block.super }}
    <script>
        window.djangoContext.urls.ajaxSearch = "{% url 'jobs:search-ajax' %}";

        document.addEventListener('DOMContentLoaded', function () {
            SearchPage({
                q_text: "{{ request.GET.q }}",
                url: "don't forget forward url namespace"
            });
        });
    </script>
{% endblock extra_js %}