{% load i18n staticfiles     %}
<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 -->
<!-- BEGIN: HEADER 2 -->
<header class="c-layout-header c-layout-header-6 c-navbar-fluid" data-minimize-offset="80">
    <div class="c-topbar">
        <div class="container" style="position:relative">
            <div class="col-xs-4">
                <a href="/" class="c-logo">
                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-desktop-logo">
{#                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-desktop-logo-inverse">#}
{#                    <img src="{% static "assets/base/img/skruut.jpg" %}" alt="JANGO" class="c-mobile-logo">#}
                </a>
            </div>
            <nav class="c-top-menu col-xs-offfset-8">
                <ul class="c-links c-theme-ul">
                    <li class="c-cart-toggler-wrapper">
                        <a href="#"
                           class="c-font-uppercase c-font-bold c-btn-icon c-cart-toggler">
                            {% trans "categories" %} <span class="caret"></span>
                        </a>
                    </li>

                    <div class="c-cart-menu">
                        <div class="c-cart-menu-items">
                            <div class="c-content-tab-1 c-theme c-margin-t-30">
                                <div class="clearfix">
                                    <ul class="nav nav-tabs c-font-uppercase c-font-bold">
                                        {% for item in header_categories %}
                                            <li {% if item.active %}class="active"{% endif %}>
                                                <a href="#tab_1_{{ forloop.counter }}_content"
                                                   data-toggle="tab">{{ item.big_cat }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab-content c-bordered c-padding-lg">
                                    {% for item in header_categories %}
                                        <div class="tab-pane {% if item.active %}active{% endif %}"
                                             id="tab_1_{{ forloop.counter }}_content">
                                            <div class="row">
                                                {% for sub_cat_list in item.cats %}
                                                    <div class="col-md-4">
                                                        <ul class="c-content-list-1 c-theme c-separator-dot">
                                                            {% for cat in sub_cat_list %}
                                                                <li><a href="{{ cat.url }}">{{ cat.name | capfirst }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <li class="c-divider"></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url "users:detail" %}" class="c-font-uppercase c-font-bold">{% trans "My profile" %}</a></li>
                    {% endif %}
                    <li>
                        <a id="add_post" class="c-font-uppercase c-font-bold c-font-dark"
                           data-toggle="modal" data-target="#choose-category">
                            <span class="glyphicon glyphicon-plus"></span> {% trans "Post Add" %}
                        </a>
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                            <a id="sign-out" href="{% url "account_logout" %}" data-toggle="modal" data-target="#login-form"
                               class="btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'Sign out' %}</a>
                        {% else %}
                            <a id="sign-in" href="javascript:;" data-toggle="modal" data-target="#login-form"
                               class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'Sign In' %}</a>
                        {% endif %}
                    </li>
                </ul>
                <form id="lang-form" class="hidden" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="language">
                </form>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <ul class="c-ext c-theme-ul">
                    <li class="c-lang dropdown c-last">
                        <a id="current-lang" href="#">{{ LANGUAGE_CODE }}</a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <li class="change-lang" data-lang-code={{ language.code }}>
                                        <a href="#">{{ language.name_local }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="c-navbar">
        <div class="container">
            <div class="c-navbar-wrapper clearfix">
                <form class="c-quick-search" action="#" name="search_form">
                    <input type="text" name="q" placeholder="{% trans "Type to search" %}" value=""
                           class="form-control fire-reload" autocomplete="off">
                    <div class="list-group" id="search-counts">
                      <a href="{% url 'vehicles:all_vehicles' %}"data-key="vehicles"
                         class="list-group-item">{% trans "Vehicles" %} <span class="badge"></span></a>
                      <a href="{% url 'realty:search' %}"data-key="realty"
                         class="list-group-item">{% trans "Realty" %} <span class="badge"></span></a>
                      <a href="{% url 'jobs:search' %}"data-key="jobs"
                         class="list-group-item">{% trans "Jobs" %} <span class="badge"></span></a>
                      <a href="{% url 'classifieds:good_deals' %}"data-key="gooddeals"
                         class="list-group-item">{% trans "Good deals" %} <span class="badge"></span></a>
                      <a href="{% url 'classifieds:sports_and_leisure' %}"data-key="sports"
                         class="list-group-item">{% trans "Sport and lasure" %} <span class="badge"></span></a>
                      <a href="{% url 'classifieds:pets' %}"data-key="pets"
                         class="list-group-item">{% trans "Pets" %} <span class="badge"></span></a>
                      <a href="#" data-key="notfound"
                         class="list-group-item">{% trans "No results found" %} <span class="badge"></span></a>
                    </div>
                </form>
                <div id="search-filters-toggler">
                    <span class="toggler-line"></span>
                    <span class="toggler-line"></span>
                    <span class="toggler-line"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 -->

<!-- BEGIN: CONTENT/USER/FORGET-PASSWORD-FORM -->
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">{% trans "Password Recovery" %}</h3>
                <p>{% trans "To recover your password please fill in your email address" %}</p>
                <form>
                    <div class="form-group">
                        <label for="forget-email" class="hide">{% trans "Email" %}</label>
                        <input type="email" class="form-control input-lg c-square" id="forget-email"
                               placeholder="Email"></div>
                    <div class="form-group">
                        <button class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login"
                                type="submit">{% trans "Submit" %}</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form"
                           data-dismiss="modal">{% trans "Back To Login" %}</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">{% trans "Don't Have An Account Yet ?" %}</span>
                <a class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup"
                   href="javascript:;" data-toggle="modal" data-target="#signup-form"
                   data-dismiss="modal">{% trans "Signup" %}!</a>

            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/USER/FORGET-PASSWORD-FORM -->

{% include "account/modal_signup.html" %}
{% include "account/modal_login.html" %}
{% include "account/modal_login_or_enter_email.html" %}

<div class="modal fade" id="choose-category" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus"></span>{% trans 'POST ADD' %}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <a href="{% url 'vehicles:add-car' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'ADD CAR' %}</a>
                    <br>
                    <a href="{% url 'vehicles:add-moto' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'ADD MOTORBIKE' %}</a>
                    <br>
                    <a href="{% url 'realty:add-realty' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'ADD REALTY' %}</a>
                    <br>
                    <a href="{% url 'jobs:add-job' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'ADD JOB' %}</a>
                    <br>
                    <a href="{% url 'classifieds:add-classified' %}"
                       class="btn btn-block c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">{% trans 'ADD CLASSIFIED' %}</a>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                        type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
