{% load i18n %}
<div class="modal fade c-content-login-form" id="login-or-enter-email-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">{% trans 'Good Afternoon!' %}</h3>
                <p>{% trans 'Enter your email' %}</p>
                <form id='email_for_subs' action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login-email" class="hide">Email</label>
                        <input name="login" type="email" class="form-control input-lg c-square" id="login-email"
                               placeholder="Email" required="true">
                    </div>
                    <div class="form-group">
                        <button type="submit"
                                class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">
                            {% trans 'SUBSCRIBE' %}
                        </button>
                    </div>
                </form>
                <div class="clearfix">
                    <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                        <span>{% trans 'or' %}</span>
                    </div>
                    <ul class="c-content-list-adjusted">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#login-form"
                               data-dismiss="modal"
                               class="btn btn-info btn-block c-btn-square">
                                {% trans 'Login' %} </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">{% trans 'Don`t Have An Account Yet ?' %}</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal"
                   class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div>
