<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                <p>Please fill in below form to create an account with us</p>
                <form action="{% url "account_signup" %}" method="POST" id="form-signup-modal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="signup-email" class="hide">Email</label>
                        <input name="email" type="email" class="form-control input-lg c-square" id="signup-email" placeholder="Email"> </div>
{#                    <div class="form-group">#}
{#                        <label for="signup-username" class="hide">Username</label>#}
{#                        <input name="username"  class="form-control input-lg c-square" id="signup-username" placeholder="Username"> </div>#}
{#                    <div class="form-group">#}
{#                        <label for="signup-fullname" class="hide">Fullname</label>#}
{#                        <input name="fullname" class="form-control input-lg c-square" id="signup-fullname" placeholder="Fullname"> </div>#}
                    <div class="form-group">
                        <label for="login-password" class="hide">Password*</label>
                        <input name="password1" type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password"> </div>
                    <div class="form-group">
                        <label for="login-password" class="hide">Password (again)*</label>
                        <input name="password2" type="password" class="form-control input-lg c-square" id="login-password" placeholder="Password"> </div>
{#                    <div class="form-group">#}
{#                        <label for="signup-country" class="hide">Country</label>#}
{#                        <select name="country" class="form-control input-lg c-square" id="signup-country">#}
{#                            <option value="1">Country</option>#}
{#                        </select>#}
{#                    </div>#}
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">Signup</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                                      <div class="clearfix">
                        <div class="c-content-divider c-divider-sm c-icon-bg c-bg-grey c-margin-b-20">
                            <span>or signup with</span>
                        </div>
                        <ul class="c-content-list-adjusted">
{#                            <li>#}
{#                                <a class="btn btn-block c-btn-square btn-social btn-twitter">#}
{#                                    <i class="fa fa-twitter"></i> Twitter </a>#}
{#                            </li>#}
                            <li>
                                <a href="/accounts/facebook/login/?process=login" class="btn btn-block c-btn-square btn-social btn-facebook socialaccount_provider facebook">
                                    <i class="fa fa-facebook"></i> Facebook </a>
                            </li>
{#                            <li>#}
{#                                <a class="btn btn-block c-btn-square btn-social btn-google">#}
{#                                    <i class="fa fa-google"></i> Google </a>#}
{#                            </li>#}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>