{% extends "users/user_detail.html" %}
{% load static i18n %}

{% block sidebar_content %}
    <div class="c-shop-login-register-1">
        <div class="col-offset-md-6">
            <div class="panel panel-default c-panel">
                <div class="panel-body c-panel-body">
                    <div class="c-content-title-1">
                        <h3 class="c-left">
                            <i class="icon-user"></i> {% trans 'Password Change' %}</h3>
                        <div class="c-line-left c-theme-bg"></div>
                    </div>
                    <form method="POST" action="./" class="password_change">
                        {% csrf_token %}
                        <div id="div_id_oldpassword" class="form-group">
                            <label for="id_oldpassword" class="col-md-4 control-label requiredField">
                                Current Password <span class="c-font-red-2"><sup>*</sup></span>
                            </label>
                            <div class="controls">
                                <input class="form-control c-square c-theme textinput textInput"
                                       id="id_oldpassword"
                                       name="oldpassword"
                                       type="password">
                            </div>
                        </div>
                        {{ form.oldpassword.errors }}
                        <div id="div_id_password1" class="form-group">
                            <label for="id_password1" class="col-md-4 control-label requiredField">
                                New Password <span class="c-font-red-2"><sup>*</sup></span>
                            </label>
                            <div class="controls">
                                <input class="form-control c-square c-theme textinput textInput"
                                       id="id_password1"
                                       name="password1"
                                       type="password">
                            </div>
                        </div>
                        {{ form.password1.errors }}
                        <div id="div_id_password2" class="form-group">
                            <label for="id_password2" class="col-md-4 control-label requiredField">
                                New Password (again) <span class="c-font-red-2"><sup>*</sup></span>
                            </label>
                            <div class="controls">
                                <input class="form-control c-square c-theme textinput textInput" id="id_password2"
                                       name="password2"
                                       type="password"></div>
                        </div>
                        {{ form.password2.errors }}
                        <div class="form-group c-margin-t-40">
                            <button type="submit"
                                    class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                {% trans "Change Password" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

