{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="c-shop-login-register-1">
            <div class="row">
                <div class="col-offset-md-6">
                    <div class="panel panel-default c-panel">
                        <div class="panel-body c-panel-body">
                            <div class="c-content-title-1">
                                <h3 class="c-left">
                                    <i class="icon-user"></i>{% if token_fail %}  {% trans "Bad Token" %}{% else %}
                                    {% trans "Change Password" %}{% endif %}</h3>
                                <div class="c-line-left c-theme-bg"></div>
                                {% if token_fail %}
                                    {% url 'account_reset_password' as passwd_reset_url %}
                                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has
                                        already been used.
                                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                        .{% endblocktrans %}</p>
                                {% else %}
                                    {% if form %}
                                        <form method="POST" action="./">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <input value="{{ form.password1.value|default_if_none:"" }}"
                                                       name="password1"
                                                       type="text" class="form-control c-square c-theme"
                                                       placeholder="password">
                                            </div>
                                            {{ form.password1.errors }}
                                            <div class="form-group">
                                                <label class="control-label">Password (again)</label>
                                                <input value="{{ form.password2.value|default_if_none:"" }}"
                                                       name="password2"
                                                       type="text" class="form-control c-square c-theme"
                                                       placeholder="password">
                                            </div>
                                            {{ form.password1.errors }}
                                            <button type="submit"
                                                    class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold"
                                                    name="action">{% trans "change password" %}</button>
                                        </form>
                                    {% else %}
                                        <p>{% trans 'Your password is now changed.' %}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

