{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-shop-login-register-1">
                <div class="row">
                    <div class="col-offset-md-6">
                        <div class="panel panel-default c-panel">
                            <div class="panel-body c-panel-body">
                                <div class="c-content-title-1">
                                    <h3 class="c-left">
                                        <i class="icon-user"></i> Password Reset</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                </div>
                                <form method="POST" action="./" class="password_reset">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label">Email Address</label>
                                        <input value="{{ form.email.value|default_if_none:"" }}" name="email"
                                               type="email"
                                               type="text" class="form-control c-square c-theme"
                                               placeholder="Email Address">
                                    </div>
                                    {{ form.email.errors }}

                                    <div class="form-group c-margin-t-40">
                                        <button type="submit"
                                                class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                            submit
                                        </button>
                                    </div>
                                </form>
                                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                                    password.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $("#id_email").focus();
    </script>
{% endblock javascript %}

