{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock title %}

{% block content %}
            <!-- BEGIN: CONTENT/SHOPS/SHOP-LOGIN-REGISTER-1 -->
            <div class="c-content-box c-size-md c-bg-white">
                <div class="container">
                    <div class="c-shop-login-register-1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default c-panel">
                                    <div class="panel-body c-panel-body">
                                        <div class="c-content-title-1">
                                            <h3 class="c-left">
                                                <i class="icon-user"></i> Don't have an account yet?</h3>
                                            <div class="c-line-left c-theme-bg"></div>
                                            <p>Join us and enjoy shopping online today.</p>
                                        </div>
                                        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" >
                                            {% csrf_token %}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label">Country</label>#}
{#                                                <select class="form-control c-square c-theme">#}
{#                                                    <option value="1">Malaysia</option>#}
{#                                                    <option value="2">Singapore</option>#}
{#                                                    <option value="3">Indonesia</option>#}
{#                                                    <option value="4">Thailand</option>#}
{#                                                    <option value="5">China</option>#}
{#                                                </select>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-md-6">#}
{#                                                        <label class="control-label">First Name</label>#}
{#                                                        <input type="text" class="form-control c-square c-theme" placeholder="First Name"> </div>#}
{#                                                    <div class="col-md-6">#}
{#                                                        <label class="control-label">Last Name</label>#}
{#                                                        <input type="text" class="form-control c-square c-theme" placeholder="Last Name"> </div>#}
{#                                                </div>#}
{#                                            </div>#}
                                            <div class="form-group">
                                                <label class="control-label">Email Address</label>
                                                <input value="{{ form.email.value|default_if_none:"" }}" name="email" type="email" type="text" class="form-control c-square c-theme" placeholder="Email Address"> </div>
                                                {{ form.email.errors }}
{#                                            <div class="form-group">#}
{#                                                <input type="text" class="form-control c-square c-theme" placeholder="Apartment, suite, unit etc. (optional)"> </div>#}
{#                                            <div class="form-group">#}
{#                                                <label class="control-label">Town / City</label>#}
{#                                                <input type="text" class="form-control c-square c-theme" placeholder="Town / City"> </div>#}
{#                                            <div class="row">#}
{#                                                <div class="form-group col-md-6">#}
{#                                                    <label class="control-label">State / County</label>#}
{#                                                    <select class="form-control c-square c-theme">#}
{#                                                        <option value="0">Select an option...</option>#}
{#                                                        <option value="1">Malaysia</option>#}
{#                                                        <option value="2">Singapore</option>#}
{#                                                        <option value="3">Indonesia</option>#}
{#                                                        <option value="4">Thailand</option>#}
{#                                                        <option value="5">China</option>#}
{#                                                    </select>#}
{#                                                </div>#}
{#                                                <div class="col-md-6">#}
{#                                                    <label class="control-label">Postcode / Zip</label>#}
{#                                                    <input type="text" class="form-control c-square c-theme" placeholder="Postcode / Zip"> </div>#}
{#                                            </div>#}
{#                                            <div class="row">#}
{#                                                <div class="form-group col-md-6">#}
{#                                                    <label class="control-label">Email Address</label>#}
{#                                                    <input type="email" class="form-control c-square c-theme" placeholder="Email Address"> </div>#}
{#                                                <div class="col-md-6">#}
{#                                                    <label class="control-label">Phone</label>#}
{#                                                    <input type="tel" class="form-control c-square c-theme" placeholder="Phone"> </div>#}
{#                                            </div>#}
                                            <div class="form-group">
                                                <label class="control-label">Account Password</label>
                                                <input value="{{ form.password1.value|default_if_none:"" }}" name="password1" type="password" class="form-control c-square c-theme" placeholder="Password"> </div>
                                                {{ form.password1.errors }}
                                            <div class="form-group">
                                                <label class="control-label">Account Password (again)</label>
                                                <input name="password2" type="password" class="form-control c-square c-theme" placeholder="Password"> </div>
                                                {{ form.password2.errors }}
                                            {% if redirect_field_value %}
                                            <input {{ form.password2.value }} type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                            {% endif %}
                                            <div class="form-group c-margin-t-40">
                                                <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Register</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="list-unstyled c-bs-grid-small-space">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                            <a class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-twitter">
                                                <i class="fa fa-twitter"></i> Sign in with Twitter </a>
                                        </div>
                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                            <a href="/accounts/facebook/login/?process=login" class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-facebook socialaccount_provider facebook">
                                                <i class="fa fa-facebook"></i> Sign in with Facebook </a>
                                        </div>
                                        <div class="col-md-4 col-sm-4 c-margin-t-10">
                                            <a class="btn btn-block btn-social c-btn-square c-btn-uppercase btn-md btn-google">
                                                <i class="fa fa-google-plus"></i> Sign in with Google </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- END: CONTENT/SHOPS/SHOP-LOGIN-REGISTER-1 -->
{% endblock content %}



