{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-shop-login-register-1">
                <div class="row">
                    <div class="col-offset-md-6">
                        <div class="panel panel-default c-panel">
                            <div class="panel-body c-panel-body">
                                <div class="c-content-title-1">
                                    <h3 class="c-left">
                                        <i class="icon-user"></i> {% trans "Verify Your E-mail Address" %}</h3>
                                    <div class="c-line-left c-theme-bg"></div>
                                    <p>{% blocktrans %}We have sent an e-mail to
                                        <a href="mailto:{{ email }}">{{ email }}</a> for verification.
                                        Your advert will not be activated untill you validate your email address. Follow the link
                                        provided in the email to finalize the signup process.{% endblocktrans %}
                                    </p>
                                </div>
                                <p>{% blocktrans %}Please contact us if you do not receive
                                    it within a few minutes.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
