{% extends "base.html" %}
{% load pagination_tags staticfiles thumbnail %}
{% load staticfiles i18n %}

{% block content %}
    <!-- BEGIN: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
    <nav class="c-layout-quick-sidebar">
        <div class="c-header">
            <button type="button" class="c-link c-close">
                <i class="icon-login"></i>
            </button>
        </div>
    </nav>
    <!-- END: LAYOUT/SIDEBARS/QUICK-SIDEBAR -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/STATS/COUNTER-1 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-counter-1 c-opt-1">
                <div class="c-content-title-1">
                    <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'We never stop improving' %}</h3>
                    <div class="c-line-center"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <a class="c-counter c-theme-border c-font-bold c-theme-font"
                           href="{% url 'vehicles:all_vehicles' %}?sub_category=1"
                           data-counter="counterup">{{ vehicles_count }}</a>
                        <h4 class="c-title c-first c-font-uppercase c-font-bold"><a
                                href="{% url 'vehicles:all_vehicles' %}?sub_category=1">{% trans "Cars" %}</a></h4>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a class="c-counter c-theme-border c-font-bold c-theme-font"
                           href="{% url 'realty:search' %}"
                           data-counter="counterup">{{ realty_count }}</a>
                        <h4 class="c-title c-font-uppercase c-font-bold"><a
                                href="{% url 'realty:search' %}">{% trans "Realty properties" %}</a></h4>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a class="c-counter c-theme-border c-font-bold c-theme-font"
                           href="{% url 'jobs:search' %}"
                           data-counter="counterup">{{ jobs_count }}</a>
                        <h4 class="c-title c-font-uppercase c-font-bold"><a
                                href="{% url 'jobs:search' %}">{% trans "Jobs" %}</a></h4>
                    </div>
                     <div class="col-sm-6 col-md-3">
                        <a class="c-counter c-theme-border c-font-bold c-theme-font"
                           href="{% url 'classifieds:good_deals' %}"
                           data-counter="counterup">{{ classifieds_count }}</a>
                        <h4 class="c-title c-font-uppercase c-font-bold"><a
                                href="{% url 'classifieds:good_deals' %}">{% trans "Classifieds" %}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/STATS/COUNTER-1 -->
    <!-- BEGIN: CONTENT/TILES/TILE-3 -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="c-content-tile-grid c-bs-grid-reset-space">
            <div class="c-content-title-1 wow animate fadeInDown">
                <h3 class="c-font-uppercase c-center c-font-bold">{% trans 'New posts' %}</h3>
                <div class="c-line-center"></div>
            </div>
        </div>
        <div id="home-galary" class="container">
            <div class="row">
                <div class="c-content-box c-size-md c-bg-white">
                    {% for object in list_vehicles %}
                        <div class="col-md-3">
                            <a href="{% url 'vehicles:car-details' pk=object.id %}"
                               class="cbp-caption cbp-lightbox"
                               data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                                <div class="cbp-caption-defaultWrap">
                                    {% thumbnail object.images.first.image "260x230" crop="center" as im %}
                                        <div class="c-bg-img-center c-overlay-object" data-height="height"
                                             style="height: 230px; background-image: url({{ im.url }});"></div>
                                        {% empty %}
                                        <div class="c-bg-img-center c-overlay-object" data-height="height"
                                             style="height: 230px; background-size:unset;
                                                     background-image: url({% static "assets/base/img/home.png" %});"></div>
                                    {% endthumbnail %}
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title"><span
                                                        id="car-brand">{{ object.brand.brand_name }}</span>
                                                    <span id="car-model">{{ object.model.model_name }}</span></div>
                                                <div class="cbp-l-caption-desc">{{ object.price }} &#8364;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% for object in list_realty %}
                    <div class="col-md-3">
                        <a href="{% url 'realty:details' pk=object.id %}"
                           class="cbp-caption cbp-lightbox"
                           data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                            <div class="cbp-caption-defaultWrap">
                                {% thumbnail object.images.first.image "260x230" crop="center" as im %}
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 230px; background-image: url({{ im.url }});"></div>
                                    {% empty %}
                                    <div class="c-bg-img-center c-overlay-object" data-height="height"
                                         style="height: 230px; background-size:unset;
                                                 background-image: url({% static "assets/base/img/home.png" %});"></div>
                                {% endthumbnail %}
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignLeft">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-title">{{ object.get_deal_display }}
                                            {% if object.property_type_type.name %}
                                                {{ object.property_type_type.name }}
                                            {% else %}
                                                {{ object.property_type.name }}
                                            {% endif %}
                                                {{ object.city }}
                                            </div>
                                            <div class="cbp-l-caption-desc">
                                                {% if object.price %}{{ object.price }} &#8364; {% else %}<br>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END: CONTENT/TILES/TILE-3 -->
    <!-- END: PAGE CONTENT -->
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    $(document).ready(function() {
        var searchInput = $('input[name="q"]');
        var overallSearchUrl = '{% url "overallsearch:search_ajax" %}';
        var countLinks = $('#search-counts a');
        var searching;

        searchInput.on('keyup', function(e) {
            e.preventDefault();
            if (searchInput.val().length > 2 && searchInput.val() != searching) {
                (function(v) {setTimeout(function() {
                    if (searchInput.val() === v) {
                        searching = v;
                        console.log('searching...', v);
                        $.ajax({
                            url :overallSearchUrl,
                            data: {q: v},
                            dataType: 'json',
                        }).done(function(response) {
                            for (var i = 0; i < countLinks.length; i ++) {
                                var link = $(countLinks[i]);
                                var key = link.data('key');
                                if (response.content[key]) {
                                    if (key !== 'notfound') {
                                        link.attr('href', addGETParam(link.attr('href'), 'q', v));
                                        link.find('.badge').text(response.content[key]);
                                    }
                                    link.css('display', 'block');
                                } else {
                                    link.hide();
                                }
                            }
                        });
                    }
                }, 500)})(searchInput.val());
            } else if (searchInput.val().length < 3) {
                countLinks.hide();
            }
        });

        function addGETParam(url, key, value) {
            value = encodeURIComponent(value);
            if (url.indexOf(key + '=') === -1) {
                if (url.indexOf('?') != -1) {
                    return url + '&' + key + '=' + value;
                } else {
                    return url + '?' + key + '=' + value;
                }
            } else {
                var m = url.match(/[?&]q=[^&]+/)[0];
                var ms = m.split('=');
                ms[1] = value;
                return url.replace(m, ms.join('='));
            }
        }

    });
    </script>
{% endblock extra_js %}