{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ user.email }}{% endblock title %}

{% block content %}
    <br>
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">{% trans 'My Profile' %}</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse"
                   data-target="#sidebar-menu-1" aria-expanded="true">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>
            <ul class="c-sidebar-menu collapse in" id="sidebar-menu-1" aria-expanded="true">
                <li class="c-dropdown c-open">
                    <a href="javascript:;" class="c-toggler">{% trans 'My Profile' %}
                        <span class="c-arrow"></span>
                    </a>
                    {% url 'users:detail' as detail_url %}
                    <ul class="c-dropdown-menu">
                        <li class="{% if request.path == detail_url %}c-active {% endif %}">
                            <a href="{{ detail_url }}">{% trans 'My Profile' %}</a>
                        </li>
                        {% url 'users:posts' as posts_url %}
                        <li class="{% if request.path == posts_url %}c-active {% endif %}">
                            <a href="{{ posts_url }}">{% trans 'My Posts' %}</a>
                        </li>
                        {% url 'users:subscriptions' as subscriptions_url %}
                        <li class="{% if request.path == subscriptions_url %}c-active {% endif %}">
                            <a href="{{ subscriptions_url }}">{% trans 'My Subscriptions' %}</a>
                        </li>
                        {% url 'account_change_password' as edit_url %}
                        {% url 'account_set_password' as set_url %}
                        <li class="{% if request.path == edit_url or request.path == set_url %}c-active {% endif %}">
                            <a href="{{ edit_url }}">{% trans 'Change Password' %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-DASHBOARD -->
        </div>
        <div class="c-layout-sidebar-content ">
            {% block sidebar_content %}
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">My Profile</h3>
                    <div class="c-line-left"></div>
                </div>
                <h4 class=""> Hello
                    <a href="#" class="c-theme-link">{{ request.user.email }}</a>({% trans 'not' %}
                    <a href="#" class="c-theme-link">{{ request.user.email }}</a>?
                    <a href="{% url 'account_logout' %}" class="c-theme-link">{% trans 'Sign out' %} </a>).
                    <br>
                </h4>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                <br>
                <div class="c-checkbox c-toggle-hide" data-object-selector="c-form-register" data-animation-speed="600">
                    <input type="checkbox" id="hide_phones" class="c-check"
                           {% if request.user.hide_phones %} checked {% endif %}>
                    <label for="hide_phones">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> {% trans 'Hide phones' %} </label>
                </div>
            {% endblock sidebar_content %}
        </div>
        <br>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
        $('#hide_phones').change(function () {
            $.ajax({
                method: 'post',
                url: '/users/hide-phones/',
                dataType: 'json',
                data: {hide_phones: JSON.stringify($(this).is(':checked'))}
            }).fail(function (resp) {
                alert('Error!');
                console.log(resp);
            });
        })
    </script>
    <script src="{% static "assets/base/js/modules/user-account.js" %}"></script>
{% endblock extra_js %}