{% extends "users/user_detail.html" %}
{% load static i18n %}

{% block sidebar_content %}
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">{% trans "My Subscriptions:" %}</h3>
        <div class="c-line-left"></div>
    </div>
    {% if subscriptions %}
        {% for subscription, name in subscriptions %}
            <h4 class="post-name">{{ name }}:</h4>
            <div id="subscr-list">
                {% for id, filters in subscription.iteritems %}
                    <div class="c-checkbox c-toggle-hide" data-object-selector="c-form-register"
                         data-animation-speed="600" id="{{ id }}">
                        <div>
                            <input class="checkbox col-md-4 c-check" data-id="{{ id }}" id="checkbox1-{{ id }}"
                                   name="subscr"
                                   type="checkbox">
                            <label style="margin-left: 30px" for="checkbox1-{{ id }}">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                <div href="#" class="marg-r">
                                    {% for key, val in filters.iteritems %}
                                        <span class="marg-r">{{ key }}: {{ val }};</span>
                                    {% endfor %}
                                </div>
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
        <br>
        <button id="del-subscr"
                class="btn c-theme-btn c-btn-square">{% trans "Delete selected subscriptions" %}</button>
    {% endif %}
    <div id="no-subscr" style="{% if subscriptions %}display:none;{% endif %}">
        {% trans "No subscriptions" %}
    </div>
{% endblock sidebar_content %}
