{% extends "users/user_detail.html" %}
{% load static i18n thumbnail %}
{% block sidebar_content %}
    {% if validate %}
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Posts for validation:" %}</h3>
            <div class="c-line-left"></div>
        </div>
        <div id="post-list">
            <div id="subscr-list">
                {% for category,values in validate.items %}
                    {% if category == 'cars' %}
                        <h4 class="post-name">{% trans "Cars:" %}</h4>
                        {% for object in values %}
                            <div class="row c-margin-b-5">
                                <div class="c-checkbox c-toggle-hide" id="{{ object.id }}V"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class=" col-sm-2">
                                        {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                            {% empty %}
                                            <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="col-sm-6 c-margin-t-15">
                                        <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}V"
                                               name="posts"
                                               data-id="{{ object.id }}V"
                                               type="checkbox">
                                        <label for="checkbox1-{{ object.id }}V">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        <a style="margin-left: 30px" href="{% url "vehicles:car-details" object.id %}"
                                           class="marg-r post_text">{{ object.brand }} {{ object.model }}</a>
                                    </div>
                                    <div class="col-sm-4 c-margin-t-15">
                                        <a class="update-post btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Update' %}
                                        </a>
                                        <a class="btn c-theme-btn c-btn-square"
                                           href="{% url "vehicles:edit-car" object.id %}">{% trans 'edit' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if category == 'moto' %}
                        <h4 class="post-name">{% trans "Motorbikes:" %}</h4>
                        {% for object in values %}
                            <div class="row c-margin-b-5">
                                <div class="c-checkbox c-toggle-hide" id="{{ object.id }}M"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class=" col-sm-2">
                                        {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                            {% empty %}
                                            <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="col-sm-6 c-margin-t-15">
                                        <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}M"
                                               name="posts"
                                               data-id="{{ object.id }}M"
                                               type="checkbox">
                                        <label for="checkbox1-{{ object.id }}M">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        <a style="margin-left: 30px" href="{% url "vehicles:moto-details" object.id %}"
                                           class="marg-r post_text">{{ object.brand }} {{ object.model }}</a>
                                    </div>
                                    <div class="col-sm-4 c-margin-t-15">
                                        <a class="update-post btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Update' %}
                                        </a>
                                        <a class="btn c-theme-btn c-btn-square"
                                           href="{% url "vehicles:edit-moto" object.id %}">{% trans 'edit' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if category == 'realties' %}
                        <h4 class="post-name">{% trans "Realty:" %}</h4>
                        {% for object in values %}
                            <div class="row c-margin-b-5">
                                <div class="c-checkbox c-toggle-hide" id="{{ object.id }}R"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class=" col-sm-2">
                                        {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                            {% empty %}
                                            <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="col-sm-6 c-margin-t-15">
                                        <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}R"
                                               name="posts"
                                               data-id="{{ object.id }}R"
                                               type="checkbox">
                                        <label for="checkbox1-{{ object.id }}R">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        <a style="margin-left: 30px" href="{% url "realty:details" object.id %}"
                                           class="marg-r post_text">
                                            {% if object.property_type_type.name %}
                                                {{ object.property_type_type }}{% else %}
                                                {{ object.property_type }}{% endif %}for {{ object.get_deal_display }}
                                            in {{ object.country }},
                                            {{ object.city }}</a>
                                    </div>
                                    <div class="col-sm-4 c-margin-t-15">
                                        <a class="update-post btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Update' %}
                                        </a>
                                        <a class="btn c-theme-btn c-btn-square"
                                           href="{% url "realty:edit" object.id %}">{% trans 'edit' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if category == 'jobs' %}
                        <h4 class="post-name">{% trans "Job:" %}</h4>
                        {% for object in values %}
                            <div class="row c-margin-b-5">
                                <div class="c-checkbox c-toggle-hide" id="{{ object.id }}J"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class="col-sm-8">
                                        <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}J"
                                               name="posts"
                                               data-id="{{ object.id }}J"
                                               type="checkbox">
                                        <label for="checkbox1-{{ object.id }}J">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        <a href="{% url "jobs:details" object.id %}"
                                           class="marg-r post_text">
                                            {% if object.title|length > 50 %}
                                                {{ object.title|slice:'47'}}...
                                            {% else %}
                                                {{ object.title }}
                                            {% endif %}
                                            in {{ object.country }}
                                            {% if object.city %},
                                                {{ object.city }}
                                            {% endif %}</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a class="update-post btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Update' %}
                                        </a>
                                        <a class="btn c-theme-btn c-btn-square"
                                           href="{% url "jobs:edit" object.id %}">{% trans 'edit' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if category == 'classifieds' %}
                        <h4 class="post-name">{% trans "Classifieds:" %}</h4>
                        {% for object in values %}
                            <div class="row c-margin-b-5">
                                <div class="c-checkbox c-toggle-hide" id="{{ object.id }}C"
                                     data-object-selector="c-form-register"
                                     data-animation-speed="600">
                                    <div class=" col-sm-2">
                                        {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                            <img src="{{ im.url }}">
                                            {% empty %}
                                            <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="col-sm-6 c-margin-t-15">
                                        <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}C"
                                               name="posts"
                                               data-id="{{ object.id }}C"
                                               type="checkbox">
                                        <label for="checkbox1-{{ object.id }}C">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        <a href="{% url "classifieds:details" object.id %}"
                                           class="marg-r post_text">
                                            {{ object.title }}
                                            in {{ object.country }},
                                            {{ object.city }}</a>
                                    </div>
                                    <div class="col-sm-4 c-margin-t-15">
                                        <a class="update-post btn btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                            {% trans 'Update' %}
                                        </a>
                                        <a class="btn c-theme-btn c-btn-square"
                                           href="{% url "classifieds:edit" object.id %}">{% trans 'edit' %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="c-content-title-1">
        <h3 class="c-font-uppercase c-font-bold">{% trans "My posts:" %}</h3>
        <div class="c-line-left"></div>
    </div>
    <div id="post-list">
        <div id="subscr-list">
            {% if cars %}
                <h4 class="post-name">{% trans "Cars:" %}</h4>
                {% for object in cars %}
                    <div class="row c-margin-b-5">
                        <div class="c-checkbox c-toggle-hide" id="{{ object.id }}V"
                             data-object-selector="c-form-register"
                             data-animation-speed="600">
                            <div class=" col-sm-2">
                                {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                    {% empty %}
                                    <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                {% endthumbnail %}
                            </div>
                            <div class="col-sm-7 c-margin-t-15">
                                <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}V"
                                       name="posts"
                                       data-id="{{ object.id }}V"
                                       type="checkbox">
                                <label for="checkbox1-{{ object.id }}V">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                                <a href="{% url "vehicles:car-details" object.id %}"
                                   class="marg-r post_text">{{ object.brand }} {{ object.model }}</a>
                            </div>
                            <div class="col-sm-3 c-margin-t-15">
                                <a class="btn c-theme-btn c-btn-square"
                                   href="{% url "vehicles:edit-car" object.id %}">{% trans 'edit' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if moto %}
                <h4 class="post-name">{% trans "Motorbikes:" %}</h4>
                {% for object in moto %}
                    <div class="row c-margin-b-5">
                        <div class="c-checkbox c-toggle-hide" id="{{ object.id }}M"
                             data-object-selector="c-form-register"
                             data-animation-speed="600">
                            <div class=" col-sm-2">
                                {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                    {% empty %}
                                    <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                {% endthumbnail %}
                            </div>
                            <div class="col-sm-7 c-margin-t-15">
                                <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}M"
                                       name="posts"
                                       data-id="{{ object.id }}M"
                                       type="checkbox">
                                <label for="checkbox1-{{ object.id }}M">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                                <a href="{% url "vehicles:moto-details" object.id %}"
                                   class="marg-r post_text">{{ object.brand }} {{ object.model }}</a>
                            </div>
                            <div class="col-sm-3 c-margin-t-15">
                                <a class="btn c-theme-btn c-btn-square"
                                   href="{% url "vehicles:edit-moto" object.id %}">{% trans 'edit' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if realties %}
                <h4 class="post-name">{% trans "Realty:" %}</h4>
                {% for object in realties %}
                    <div class="row c-margin-b-5">
                        <div class="c-checkbox c-toggle-hide" id="{{ object.id }}R"
                             data-object-selector="c-form-register"
                             data-animation-speed="600">
                            <div class=" col-sm-2">
                                {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                    {% empty %}
                                    <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                {% endthumbnail %}
                            </div>
                            <div class="col-sm-7 c-margin-t-15">
                                <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}R"
                                       name="posts"
                                       data-id="{{ object.id }}R"
                                       type="checkbox">
                                <label for="checkbox1-{{ object.id }}R">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                                <a href="{% url "realty:details" object.id %}"
                                   class="marg-r post_text">
                                    {% if object.property_type_type.name %}
                                        {{ object.property_type_type }}{% else %}
                                        {{ object.property_type }}{% endif %} for {{ object.get_deal_display }}
                                    in {{ object.country }},
                                    {{ object.city }}</a>
                            </div>
                            <div class="col-sm-3 c-margin-t-15">
                                <a class="btn c-theme-btn c-btn-square"
                                   href="{% url "realty:edit" object.id %}">{% trans 'edit' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if jobs %}
                <h4 class="post-name">{% trans "Job:" %}</h4>
                {% for object in jobs %}
                    <div class="row c-margin-b-5">
                        <div class="c-checkbox c-toggle-hide" id="{{ object.id }}J"
                             data-object-selector="c-form-register"
                             data-animation-speed="600">
                            <div class="col-sm-9">
                                <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}J"
                                       name="posts"
                                       data-id="{{ object.id }}J"
                                       type="checkbox">
                                <label for="checkbox1-{{ object.id }}J">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                                <a href="{% url "jobs:details" object.id %}"
                                   class="marg-r post_text">
                                    {% if object.title|length > 50 %}
                                        {{ object.title|slice:'47'}}...
                                    {% else %}
                                        {{ object.title }}
                                    {% endif %}
                                    in {{ object.country }}
                                    {% if object.city %},
                                        {{ object.city }}
                                    {% endif %}</a>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn c-theme-btn c-btn-square"
                                   href="{% url "jobs:edit" object.id %}">{% trans 'edit' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if classifieds %}
                <h4 class="post-name">{% trans "Classifieds:" %}</h4>
                {% for object in classifieds %}
                    <div class="row c-margin-b-5">
                        <div class="c-checkbox c-toggle-hide" id="{{ object.id }}C"
                             data-object-selector="c-form-register"
                             data-animation-speed="600">
                            <div class="col-sm-2">
                                {% thumbnail object.images.first.image "70x70" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                    {% empty %}
                                    <img height="70" width="70" src="{% static "assets/base/img/nopic.png" %}">
                                {% endthumbnail %}
                            </div>
                            <div class=" col-sm-7 c-margin-t-15">
                                <input class="checkbox col-md-4 c-check" id="checkbox1-{{ object.id }}C"
                                       name="posts"
                                       data-id="{{ object.id }}C"
                                       type="checkbox">
                                <label for="checkbox1-{{ object.id }}C">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                </label>
                                <a href="{% url "classifieds:details" object.id %}"
                                   class="marg-r post_text">
                                    {{ object.title }}
                                    in {{ object.country }},
                                    {{ object.city }}</a>
                            </div>
                            <div class="col-sm-3 c-margin-t-15">
                                <a class="btn c-theme-btn c-btn-square"
                                   href="{% url "classifieds:edit" object.id %}">{% trans 'edit' %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="no-post" style="{% if moto or cars or realties or jobs %}display:none;{% endif %}">
            {% trans "No posts" %}
        </div>
        {% if validate or classifieds or moto or cars or realties or jobs %}
            <br>
            <button id="del-posts"
                    class="btn c-theme-btn c-btn-square">{% trans "Delete selected posts" %}</button>
        {% endif %}
    </div>
    {% if object == request.user %}
        <!-- Action buttons -->
        <div class="row">
            <div class="col-sm-12 ">
                {#    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>#}
                {#    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>#}
                <!-- Your Stuff: Custom user template urls -->
            </div>
        </div>
        <!-- End Action buttons -->
    {% endif %}
{% endblock sidebar_content %}
