{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% block content %}
    <div class="c-content">
        <div class="c-content-box c-size-lg c-bg-white-1">
            <div class="container">
                <form id="advert-form" class="form-horizontal" role="form" method="Post" enctype="multipart/form-data">
                    <div class="c-content-title-1">
                        <h3 class="c-center c-font-uppercase c-font-bold">{% trans 'realty' %}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    {% csrf_token %}
                    <div class="col-md-8 col-md-offset-2">
                        {% include "ad_form_images.html" %}
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="c-content-accordion-1 c-accordion-grey">
                                <div class="panel-group" id="accordion-3" role="tablist">
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingOne-3">
                                            <h4 class="panel-title">
                                                <a class="c-font-bold c-font-19 c-font-dark-2" data-toggle="collapse"
                                                   data-parent="#accordion-100" href="#collapseOne-3"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne-3">{% trans 'MAIN OPTIONS' %}</a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel"
                                             aria-labelledby="headingOne-3">
                                            <div class="panel-body c-font-18">
                                                {% if request.user.is_anonymous %}
                                                    <div class="col-md-6 col-md-offset-4">
                                                        <a href="/accounts/facebook/login/?process=login"
                                                           class="btn btn-block c-btn-square btn-social btn-facebook socialaccount_provider facebook">
                                                            <i class="fa fa-facebook"></i> {% trans 'Sign in with Facebook' %}
                                                        </a>
                                                        <br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            {{ user_form.email.label }} <span
                                                                class="c-font-red-2"><sup>*</sup></span>
                                                        </label>
                                                        <div class="col-md-6"> {{ user_form.email }} </div>
                                                        <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ user_form.email.errors }}</div>
                                                    </div>
                                                {% endif %}
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.seller_type.label }}
                                                    </label>
                                                    <div class="col-md-6" style="margin-top:7px">
                                                        {% for radio in realty_form.seller_type %}
                                                            <div class="c-radio">
                                                                {{ radio.tag }}
                                                                <label for="id_seller_type_{{ forloop.counter0 }}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{ radio.choice_label }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {{ realty_form.seller_type.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.property_type.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.property_type }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.property_type.errors }}</div>
                                                <div id="div_property_type_type" class="form-group"
                                                     style="display:none;">
                                                    <div class="col-md-6 col-md-offset-4"> {{ realty_form.property_type_type }}</div>
                                                    <div class="col-md-6 col-md-offset-4 c-font-dark-2">   {{ realty_form.property_type_type.errors }}</div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.deal.label }}
                                                    </label>
                                                    <div class="col-md-6" style="margin-top:7px">
                                                        {% for radio in realty_form.deal %}
                                                            <div class="col-xs-4 col-sm-5 c-radio">
                                                                {{ radio.tag }}
                                                                <label for="id_deal_{{ forloop.counter0 }}">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {{ radio.choice_label }}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {{ realty_form.deal.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.price.label }} (&#8364)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.price }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.price.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.country.label }}
                                                        <span class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6">{{ realty_form.country }}   </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.country.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.city.label }} <span
                                                            class="c-font-red-2"><sup>*</sup></span>
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.city }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.city.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.address.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.address }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.address.errors }}</div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">{% trans 'Phones' %}<span
                                                            class="c-font-red-2"><sup>*</sup></span></label>
                                                    <div class="col-md-6">
                                                        <div class="phone-list">
                                                            <div class="input-group phone-input">
                                                                <span class="input-group-btn">
                                                                    <button type="button"
                                                                            id="country_button"
                                                                            class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            aria-expanded="false"><span
                                                                            class="type-text">{% trans 'Country' %}</span><span
                                                                            class="caret"></span></button>
                                                                        <ul id="first_phone"
                                                                            class="dropdown-menu scrollable-phones-menu"
                                                                            role="menu">
                                                                        </ul>
                                                                </span>
                                                                <input type="tel" name="phones"
                                                                       pattern="[\s\+0-9]{6,17}"
                                                                       class="form-control type-input"/>
                                                            </div>
                                                        </div>
                                                        <div>  {{ realty_form.phones.errors }}</div>
                                                        <div>
                                                            <br>
                                                            <button type="button"
                                                                    class="btn btn-info c-theme-btn c-btn-square c-btn-uppercase c-btn-bold btn-add-phone"><span
                                                                    class="glyphicon glyphicon-plus"></span> {% trans 'Add Phone' %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {% trans 'Hide phones for all posts' %}
                                                    </label>
                                                    <div class="col-md-6 c-checkbox c-toggle-hide"
                                                         data-object-selector="c-form-register"
                                                         data-animation-speed="600">
                                                        <div class="col-md-6">
                                                            <input type="checkbox" name="hide_phones"
                                                                   id="id_hide_phones" class="c-check"
                                                                    {% if request.user.hide_phones %}
                                                                   checked
                                                                    {% endif %}>
                                                            <label for="id_hide_phones">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.description.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.description }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.description.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading" role="tab" id="headingTwo-3">
                                            <h4 class="panel-title">
                                                <a class="collapsed c-font-bold c-font-19 c-font-dark-2"
                                                   data-toggle="collapse"
                                                   data-parent="#accordion-3" href="#collapseTwo-3"
                                                   aria-expanded="false"
                                                   aria-controls="collapseTwo-3">ADDITIONAL OPTIONS</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo-3" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo-3">
                                            <div class="panel-body c-font-18">
                                                <div id="div_energy_class" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.energy_class.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.energy_class }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.energy_class.errors }}</div>
                                                <div id="div_rooms" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.rooms.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.rooms }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.rooms.errors }} </div>
                                                <div id="div_area" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.area.label }} (m<sup>2</sup>)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.area }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.area.errors }}</div>
                                                <div id="div_land_area" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.land_area.label }} (ares)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.land_area }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.land_area.errors }}</div>
                                                <div id="div_termal_protection_class" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.termal_protection_class.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.termal_protection_class }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.termal_protection_class.errors }}</div>

                                                <div id="div_year_build" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.year_built.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.year_built }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.year_built.errors }}</div>
                                                <div id="div_new_building" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.new_building.label }}
                                                    </label>
                                                    <div class="col-md-6 c-checkbox c-toggle-hide"
                                                         data-object-selector="c-form-register"
                                                         data-animation-speed="600">
                                                        <div class="col-md-6">
                                                            {{ realty_form.new_building }}
                                                            <label for="checkbox1-77">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.url.errors }}</div>
                                                <div id="div_floor" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.floor.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.floor }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.floor.errors }}</div>
                                                <div id="div_total_floors" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.total_floors.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.total_floors }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.total_floors.errors }}</div>
                                                <div id="div_bathroom" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.bathroom.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.bathroom }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.bathroom.errors }}</div>
                                                <div id="div_garden" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.garden.label }} (ares)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.garden }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.garden.errors }}</div>
                                                <div id="div_terrace" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.terrace.label }} (m<sup>2</sup>)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.terrace }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.terrace.errors }}</div>
                                                <div id="div_balcony" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.balcony.label }} (m<sup>2</sup>)
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.balcony }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.balcony.errors }}</div>
                                                <div id="div_garage" class="form-group">
                                                    <label class="col-md-4 control-label">
                                                        {{ realty_form.garage.label }}
                                                    </label>
                                                    <div class="col-md-6"> {{ realty_form.garage }}</div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-4 c-font-dark-2">  {{ realty_form.garage.errors }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div id="form_{{ forloop.counter }}" class="col-md-6 col-md-offset-4" style="display: none">
                                {{ form }}
                            </div>
                        {% endfor %}
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit"
                                    class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">Submit
                            </button>
                            <a href="/"
                               class="btn btn-lg btn-default c-btn-square c-btn-uppercase c-btn-bold">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'assets/base/js/modules/form_image_handle.js' %}"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            var dict_categories = {{ categories|safe }};
            var property_type_type = $("#id_property_type_type");
            var property_type = $("#id_property_type");
            var div_property_type_type = $("#div_property_type_type");
            var calling_codes = {{ calling_code|safe }};

            $('#first_phone').append(add_countries());
            if (property_type.val()) {
                div_property_type_type.show();
            }
            if (!$('#id_country').val()) {
                getLocation(setLocation);
            }

            property_type.on('change', function () {
                div_property_type_type.val(null);
                var property_type_val = property_type.val();
                if (!property_type_val || !dict_categories[property_type_val]) {
                    div_property_type_type.hide();
                }
                else {
                    div_property_type_type.show();
                    var options = ['<option value="" selected="selected">---------</option>'];
                    dict_categories[property_type_val].forEach(function (element) {
                        options += '<option value="' + element[0] + '">' + element[1] + '</option>'
                    });
                    property_type_type.empty().append(options);
                }
            });

            $("#id_city").autocomplete({
                source: function source(request, response) {
                    $.ajax({
                        url: "/realty/get_city/",
                        dataType: "json",
                        data: {
                            term: request.term,
                            id_country: $("#id_country").val()
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                }
            });

            $("#id_price").on('keypress', preventNonNumericInput);
            {% if realty_form.phones.value %}
                var phones = '{{ realty_form.phones.value }}';
                var phone_list = $('.phone-list');
                phone_list.empty();
                phones.split(",").forEach(function (element) {
                    phone_list.append('' +
                        '<div class="input-group phone-input">' +
                        '</span>' +
                        '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                        element + '" />' +
                        '<span class="input-group-btn">' +
                        '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                        '</span>' +
                        '<div>'
                    );
                });
            {% endif %}

            function setLocation(location) {
                $('.phone-input').find('.type-text').text(location['country']);
                $('.phone-input').find('.type-input').val(calling_codes[location['country']]);
                $("#id_country option:contains('" + location['country'] + "')").attr('selected', 'true');
                $('#id_city').val(location['locality']);
            }

            function add_countries() {
                var result = [];
                for (var key in calling_codes) {
                    result += '<li><a class="changeType" href="javascript:;"data-type-value="' + key + '">' + key + '</a></li>';
                }
                return result;
            }

            $('.phone-list').on('keypress', 'input', preventNonNumericInput);

            $(function () {
                $(document.body).on('click', '.changeType', function () {
                    $(this).closest('.phone-input').find('.type-text').text($(this).text());
                    $(this).closest('.phone-input').find('.type-input').val(calling_codes[$(this).data('type-value')]);
                });
                $(document.body).on('click', '.btn-remove-phone', function () {
                    $(this).closest('.phone-input').remove();
                });
                $('.btn-add-phone').click(function () {
                    var country = $('.phone-input').find('.type-text').last().text();
                    if (!country) {
                        var location = getCookie('location');
                        location = JSON.parse(decodeURI(location));
                        country = (location['country'] ? location['country'] : 'Country');
                    }
                    var value = calling_codes[country];
                    value = (value ? value : '');
                    $('.phone-list').append('' +
                        '<div class="input-group phone-input">' +
                        '<span class="input-group-btn">' +
                        '<button type="button" id="country_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="type-text">' +
                        country +
                        '</span> <span class="caret"></span></button>' +
                        '<ul class="dropdown-menu scrollable-phones-menu" role="menu">' +
                        add_countries() +
                        '</ul>' +
                        '</span>' +
                        '<input type="text" pattern="[\s\+0-9]{6,17}" name="phones" class="form-control type-input" value="' +
                        calling_codes[country] + '" />' +
                        '<span class="input-group-btn">' +
                        '<button class="btn btn-danger btn-remove-phone" type="button"><span class="glyphicon glyphicon-remove"></span></button>' +
                        '</span>' +
                        '</div>'
                    );
                    add_countries();
                });
            });
            var locationInput = $('#id_address');

            if (window.google == undefined) {
                loadGoogleMapsAPI(setLocationAutocomplete);
            } else {
                setLocationAutocomplete();
            }

            function setLocationAutocomplete() {
                locationAutocomplete = new google.maps.places.Autocomplete(
                    locationInput[0], {types: ['geocode']}
                );
                locationAutocomplete.addListener('place_changed', function () {
                    var place = locationAutocomplete.getPlace();
                    coords = place.geometry.location;
                    var input = $("input[name='coords']");
                    if (input) {
                        input.remove()
                    }
                    var input = $("<input>")
                        .attr("type", "hidden")
                        .attr("name", "coords").val([coords.lat(), coords.lng()]);
                    $('.form-horizontal').append($(input));
                });
            }
        });
    </script>
{% endblock extra_js %}