{% load pagination_tags staticfiles thumbnail %}
{% autopaginate object_list post_count %}
{% load staticfiles i18n %}
{% for result in object_list %}
    {% with i=result.object %}
        {% if i.is_active == True %}
            <div class="col-md-3 col-sm-6 c-margin-b-20">
                <div class="c-content-product-2 c-bg-white c-border">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                   href="{{ i.get_absolute_url }}">{% trans 'Explore' %}</a>
                            </div>
                        </div>
                        {% thumbnail i.images.first.image "260x230" crop="center" as im %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({{ im.url }});"></div>
                            {% empty %}
                            <div class="c-bg-img-center c-overlay-object" data-height="height"
                                 style="height: 230px; background-image: url({% static 'assets/base/img/nopic.png' %});"></div>
                        {% endthumbnail %}
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-16 c-font-slim">
                            <a class="c-theme-link" href="{{ i.get_absolute_url }}"
                               title=" {% if i.property_type_type %} {{ i.property_type_type.name }} {% else %}   {{ i.property_type.name }} {% endif %}">
                                {% if i.property_type_type %}
                                    {% if i.property_type_type.name|length < 16 %}
                                        {{ i.property_type_type.name }}
                                    {% else %}
                                        {{ i.property_type_type.name|slice:'12' }}...
                                    {% endif %}
                                {% else %}
                                    {% if i.property_type.name|length < 18 %}
                                        {{ i.property_type.name }}
                                    {% else %}
                                        {{ i.property_type.name |slice:'15' }}...
                                    {% endif %}
                                {% endif %}
                            </a>
                        </p>
                        <p class="c-title c-font-16 c-font-slim">
                            {% trans 'for' %} {% if i.deal == 1 %} {% trans "Sale" %} {% else %}
                            {% trans "Rent" %} {% endif %}
                        </p>
                        {% if i.price %}
                            <p class="c-price c-font-16 c-slim-thin">{{ i.price }} &#8364;
                                {% if i.price_history and i.price > i.price_history|last %}
                                    <span class="c-font-26 c-font-line-through c-font-red">{{ i.price_history|last }} &#8364;</span>
                                {% endif %}
                            </p>
                        {% else %}
                            <p class="c-price c-font-16 c-slim-thin">
                                <br>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    {% empty %}<p>{% trans 'No results found' %}.</p>{% endfor %}
{#{% paginate %}#}