{% load staticfiles i18n common %}

<form name="search_form">
    <li class="c-radio-inline">
        <div class="c-radio">
            <input type="radio" class="c-radio" name="deal" id="deal-sale" value="1"
                    {% if conditions|intkey:'deal' == 1 %} checked {% endif %}>
            <label for="deal-sale">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {% trans "Sale" %}
            </label>
        </div>
        <div class="c-radio">
            <input type="radio" class="c-radio" name="deal" id="deal-rent" value="2"
                    {% if conditions|intkey:'deal' == 2 %} checked {% endif %}>
            <label for="deal-rent">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {% trans "Rent" %}
            </label>
        </div>
    </li>
    {% if cities %}
        <li>
            <label class="control-label c-font-uppercase c-font-bold">{% trans 'City' %}</label>
            <select id="city" class="form-control c-square c-theme">
                <option value="0">{% trans "All" %}</option>
                {% for city in cities %}
                    <option value="{{ city.id }}"
                            {% if selected_city == city.id %}selected{% endif %}>
                        {{ city.name }}
                    </option>
                {% endfor %}
            </select>
        </li>
    {% endif %}
    <li>
        <label class="control-label c-font-uppercase c-font-bold">{% trans 'Property type' %}</label>
        <select id="property_type" class="form-control c-square c-theme">
            <option value="0">{% trans "All" %}</option>
            {% for item in property_types %}
                <option value="{{ item.id }}"
                        {% if selected_pt == item.id %}selected{% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
        </select>
    </li>
    {% if property_type_type %}
        <li>
            <div style="{% if values|length >= 9 %}overflow: scroll;{% endif %} max-height: 280px; overflow-x: hidden;">
                {% for k, c in property_type_type %}
                    <div class="c-checkbox">
                        <input type="checkbox" id="property_type_type{{ forloop.counter }}" class="c-check" name="property_type_type"
                               value="{{ k }}"  {% if conditions|intkey:'property_type_type' == k %} checked {% endif %}>
                        <label for="property_type_type{{ forloop.counter }}">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            {% getbykey property_tt_dict k as property_tt %}
                            <p>{{ property_tt.name }} - {{ c }}</p>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endif %}
    {% for index, values in facets.items %}
        <li>
            <label class="control-label c-font-uppercase c-font-bold">{{ index }}</label>
            <div style="{% if values|length >= 9 %}overflow: scroll;{% endif %} max-height: 280px; overflow-x: hidden;">
                {% for k, c in values %}
                    <div class="c-checkbox">
                        <input type="checkbox" id="{{ index }}{{ forloop.counter }}" class="c-check" name="{{ index }}"
                               value="{{ k }}"  {% if conditions|intkey:index == k %} checked {% endif %}>
                        <label for="{{ index }}{{ forloop.counter }}">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            <p>{{ k }} {% trans 'rooms' %} - {{ c }}</p>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
    {% if energy_class %}
        <li>
            <label class="control-label c-font-uppercase c-font-bold">{% trans 'Energy class' %}</label>
            {% for name, values in energy_class %}
                <div class="c-checkbox">
                    <input type="checkbox" id="{{ name }}{{ forloop.counter }}" class="c-check" name="energy_class"
                           value="{{ name }}"  {% if conditions|key:'energy_class' == name %} checked {% endif %}>
                    <label style="min-width: 100%" for="{{ name }}{{ forloop.counter }}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <div>
                            <span class="energy-class-name">{{ name|upper }} </span>
                            <span class="bar-wrapper">
                                <span class="bar" id="energy_class_{{ name }}"></span>
                            </span>
                            <span>{{ values }}</span>
                        </div>
                    </label>
                </div>
            {% endfor %}
        </li>
    {% endif %}
</form>