{% extends "base.html" %}
{% load staticfiles i18n %}

{% block extra_css %}
    <link href={% static "assets/plugins/rangeslider/nouislider.min.css" %} rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <div id="map-container">
        <div id="map"></div>
    </div>

    <div id="map-filters" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content c-square">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myLargeModalLabel">{% trans "Filters"|upper %}</h4>
                </div>
                <form class="modal-body">
                    {% include "realty/map_filters.html" %}
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn c-theme-btn c-btn-square submit
                            c-btn-bold c-btn-uppercase">{% trans "Search" %}</button>
                    <button type="button" class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold
                            c-btn-uppercase" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %} {% endblock footer %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'assets/plugins/google-maps-marker-clusterer/src/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/rangeslider/nouislider.min.js' %}"></script>
<script>
$(document).ready(function () {
    var ajax_url = '{% url "realty:map_ajax" %}';
    var mapDiv = $('#map');
    var map;
    var markers = [];
    var marker_list = {};
    var infowindow;
    var bounds_timer;
    var markerClusterer;
    var iteration = 0;
    var marker_checking_key;
    var ptt_filters = $('#map-ptt-filters');
    var map_filters = $('#map-filters');
    var property_type = $('#property_type');
    var q_filter = $('input[name="q"]');
    var filter_params = getFilterParams();
    var money_format = wNumb({thousand: ' ', postfix: ' &euro;'});
    var q_timeout;
    var q_searching;

    loadGoogleMapsAPI(getLocation, initMap);
    mapDiv.css('height', window.innerHeight - mapDiv.offset().top);



    property_type.on('change', function() {
        if (this.value === '0') {
            ptt_filters.find('div.c-checkbox').show().prop("checked", false);
        } else {
            ptt_filters.find('div[data-pt_id=' + this.value + ']').show();
            ptt_filters.find('div[data-pt_id!=' + this.value + ']').hide().find('input').prop("checked", false);
        }
    });
    property_type.trigger('change'); // have to trigger change event for FireFox reload

    $('#search-filters-toggler').show().on('click', function () {
        map_filters.modal('show');
    });

    rangeFilter('price_index');
    rangeFilter('year_index');
    rangeFilter('land_area');
    rangeFilter('area');

    map_filters.find('button.submit').on('click', function () {
        filter_params = getFilterParams();
        nextIteration();
        getRealtyCoordinates(map.getBounds().toJSON());
        if (infowindow) infowindow.close();
        map_filters.modal('hide');
    });

    q_filter.on('keyup', function () {
        clearTimeout(q_timeout);
        var text = this.value;

        q_timeout = setTimeout(function () {
            if (text !== q_searching && map) {
                q_searching = text;
                if (text.length > 2) { filter_params.q = text; }
                else { delete filter_params.q; }
                nextIteration();
                getRealtyCoordinates(map.getBounds().toJSON());
            }
        }, 500)
        // q_timeout = setTimeout(getRealtyCoordinates(map.getBounds().toJSON()))

    });

    function nextIteration() {
        iteration++;
        marker_list = {};
        if (markerClusterer) markerClusterer.clearMarkers();
    }

    function initMap(loc) {
        var zoom = 12;
        if (loc === null) {
            loc = { coords: { lat: 49.61162100000001, lng: 6.131934600000022 } };
            zoom = 8;
        }

        map = new google.maps.Map(mapDiv[0], {
            center: loc.coords,
            zoom: zoom,
        });
        map.addListener('bounds_changed', function (e) {
            clearTimeout(bounds_timer);
            bounds_timer = setTimeout(mapBoundsChanged, 500);
        });

        markerClusterer = new MarkerClusterer(map, [], {
            imagePath: "{% static 'assets/plugins/google-maps-marker-clusterer/images/m' %}"
        });

        infowindow = new google.maps.InfoWindow();
    }

    function mapBoundsChanged() {
        var bounds = map.getBounds();
        getRealtyCoordinates(bounds.toJSON());
    }

    function getRealtyCoordinates(data) {
        data = Object.assign(data, filter_params);

        $.ajax({
            url: ajax_url + '?action=get_coordinates',
            dataType: 'json',
            data: data,
        }).done(function (response) {
            if (response.error) {
            } else {
                markers = getMarkerList(response);
                markerClusterer.addMarkers(markers);
                window.mk = markerClusterer;
            }
        }).fail(function (response) {
            console.log(response);
        });
    }

    function getMarkerList(res) {
        var new_markers = [];
        for (var i in res) {
            var key_coords = res[i][0];
            if (!(key_coords in marker_list)) {
                coords = key_coords.split(',').map(function (item) { return Number(item); });
                var marker = new google.maps.Marker({
                    position: {lat: coords[0], lng: coords[1]},
                    label: String(res[i][1]),
                });

                marker.key_coords = key_coords;
                marker.realty_list = [];
                marker.iteration = iteration;
                marker.loaded_page = 0;
                marker.max_pages = Math.ceil(res[i][1]/10);
                marker.load_on_scroll = true;

                marker.addListener('click', function (e) {
                    var marker = this;
                    marker_checking_key = new Date().getTime();
                    marker.checking_key = marker_checking_key;
                    getRealtyData(marker);
                    infowindow.open(map, marker);
                    if (marker.realty_list.length === 0) {
                        infowindow.setContent(
                            '<div id="info-realties">' +
                                '<img class="iw-loading" src="/static/assets/base/img/loading100.gif">' +
                            '</div>'
                        );
                    }
                    $('.gm-style-iw').on('wheel', {marker: marker}, iwScrollHandler);
                });

                new_markers.push(marker);
                marker_list[key_coords] = marker;
            }
        }
        return new_markers;
    }

    function iwScrollHandler(e) {
        e.stopPropagation();
        var marker = e.data.marker;
        var iw = $(this);
        var iw_bottom_offset = iw.offset().top + iw.height();
        var ri = iw.find('#info-realties a').last();
        if (marker.load_on_scroll && ri.offset().top - iw_bottom_offset < ri.height() * 6) {
            marker.load_on_scroll = false;
            getRealtyData(marker, true);
        }
    };

    function getRealtyData(marker, scroll) {
        if (marker.realty_list.length > 0 && scroll !== true && marker.iteration === iteration) {
            setInfoWindowContent(marker, scroll=scroll);
        }
        if (marker.loaded_page < marker.max_pages) {
            marker.load_on_scroll = false;
            var data = Object.assign(
                {key_coords: marker.key_coords, page: marker.loaded_page + 1},
                filter_params
            );
            $.ajax({
                url: ajax_url + '?action=get_data_by_coords',
                dataType: 'json',
                data: data,
            }).done(function (response) {
                marker.realty_list = marker.realty_list.concat(response);
                setInfoWindowContent(marker, response, scroll);
            });
        }
    }

    function setInfoWindowContent(marker, data_to_render, scroll) {
        data_to_render = data_to_render || marker.realty_list;
        marker.loaded_page = Math.ceil(marker.realty_list.length/10);
        if (marker.checking_key === marker_checking_key) {
            // this means that infowindow is still on the same marker
            if (scroll) {
                for (i in data_to_render) {
                    $('#info-realties').append(renderRealtyItem(data_to_render[i]));
                }
            } else {
                var info_content = renderInfoWindowContent(data_to_render);
                infowindow.setContent(info_content);
                $('.gm-style-iw>div>div').on('scroll', {marker: marker}, iwScrollHandler);
            }
        }
        if (marker.loaded_page < marker.max_pages) marker.load_on_scroll = true;
    }

    function renderInfoWindowContent(realty_list) {
        var content_string = $('<div id="info-realties">');
        for (var i in realty_list) {
            preview = renderRealtyItem(realty_list[i]);
            content_string.append(preview);
        }
        return $('<div>').append(content_string).html();
    }

    function renderRealtyItem(item) {
        var html = '<a class="info-item" href="' + item.url + '" target="_blank">' +
            '<img class="img-100" src="' + item.thumbnails[0] + '"/>' +
            '<div class="info-item-data">' +
                '<p>' + item.property_type + ', ' + item.deal + '</p>';
                if (item.price) { html += '<p>' + money_format.to(item.price) + '</p>'; }
                if (item.energy_class) {
                    html += '<span class="energy-' + item.energy_class + '">' + item.energy_class + '</span>';
                }
                if (item.area) { html += '<span>' + item.area + 'm<sup>2</sup></span>'; }
                if (item.land_area) { html += '<span>' + item.land_area + 'ares</span>'; }
        html += '</div></a>';
        return html;
    }

    function rangeFilter(key) {
        var config = {rangeFiltersList: {
            'price_index': {
                'range': {
                    'min': [0],
                    '10%': [50, 50],
                    '20%': [300, 100],
                    '30%': [1000, 500],
                    '40%': [5000, 1000],
                    '50%': [10000, 5000],
                    '60%': [50000, 10000],
                    '70%': [100000, 50000],
                    '80%': [500000, 100000],
                    '90%': [1000000, 1000000],
                    'max': [10000000]
                }
            },
            'year_index': {
                'range': {'min': [1700], 'max': [new Date().getFullYear()]},
                'moneyFormat': wNumb({}),
                'step': 1
            },
            'area': {'range': {'min': [0], 'max': [2000]}, 'step': 1},
            'land_area': {'range': {'min': [0], 'max': [2000]}, 'step': 1}
        }
        };
        domElement = document.getElementById(key + '-range_slider');
        if (domElement == null) return;

        var temp = config.rangeFiltersList[key];
        var html5Slider = {};
        var range = temp['range'];
        var step = temp['step'] || 1000;
        var moneyFormat = temp['moneyFormat'] || wNumb({decimals: 0, thousand: '.'});

        var slider = noUiSlider.create(domElement, {
            start: [range['min'][0], range['max'][0]],
            step: step,
            connect: true,
            range: range,
            format: moneyFormat

        });

        var leftSlider = document.getElementById(key + '-min');
        var rightSlider = document.getElementById(key + '-max');

        domElement.noUiSlider.on('update', function(values, handle) {
            var value = values[handle];
            if (handle) {
                rightSlider.value = value;
            } else {
                leftSlider.value = value;
            }
        });
        leftSlider.addEventListener('change', function() {
            domElement.noUiSlider.set([null, this.value]);
        });
        rightSlider.addEventListener('change', function() {
            domElement.noUiSlider.set([this.value, null]);
        });
        return slider;
    }

    function getFilterParams() {
        var params = {};
        deal = map_filters.find('input[name="deal"]:checked').val();
        if (deal) params.deal = deal;
        params.sort = map_filters.find('#sort').val();
        var ptt = map_filters.find('input[name="property_type_type"]:checked').map(function () {
            return this.value;
        }).get();
        if (ptt.length > 0) {
            params.property_type_type = ptt;
        } else {
            var pt = map_filters.find('#property_type').val();
            if (pt !== '0') params.property_type = pt;
        }
        var energy = map_filters.find('input[name="energy_class"]:checked').map(function () {
            return this.value;
        }).get();
        if (energy.length > 0) params.energy_class = energy;
        var land_area_min = Number($('#land_area-min').val().replace(/\D/g, ''));
        if (land_area_min !== 0) params.land_area_min = land_area_min;
        var land_area_max = Number($('#land_area-max').val().replace(/\D/g, ''));
        if (land_area_max > land_area_min  && land_area_max < 2000) params.land_area_max = land_area_max;
        var area_min = Number($('#area-min').val().replace(/\D/g, ''));
        if (area_min !== 0) params.area_min = area_min;
        var area_max = Number($('#area-max').val().replace(/\D/g, ''));
        if (area_max > area_min  && area_max < 2000) params.area_max = area_max;
        var price_min = Number($('#price_index-min').val().replace(/\D/g, ''));
        if (price_min !== 0) params.price_index_min = price_min;
        var price_max = Number($('#price_index-max').val().replace(/\D/g, ''));
        if (price_max > price_min  && price_max < 10000000) params.price_index_max = price_max;
        var year_min = Number($('#year_index-min').val().replace(/\D/g, ''));
        if (year_min > 1700) params.year_index_min = year_min;
        var year_max = Number($('#year_index-max').val().replace(/\D/g, ''));
        if (year_max > year_min && year_max < new Date().year) params.year_index_max;
        var q = q_filter.val();
        if (q.length > 2) params.q = q;

        return params;
    }

});
</script>
{% endblock extra_js %}