{% load staticfiles i18n common %}


<div class="row">

    <div class="col-xs-6 c-radio-inline">
        <div class="c-radio">
            <input type="radio" class="c-radio" name="deal" id="deal-sale" value="1"
                    {% if conditions|intkey:'deal' == 1 %} checked {% endif %}>
            <label for="deal-sale">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {% trans "Sale" %}
            </label>
        </div>
        <div class="c-radio">
            <input type="radio" class="c-radio" name="deal" id="deal-rent" value="2"
                    {% if conditions|intkey:'deal' == 2 %} checked {% endif %}>
            <label for="deal-rent">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {% trans "Rent" %}
            </label>
        </div>
    </div>
    <div class="col-xs-6 c-filter form-inline">
        <label class="control-label c-font-16">{% trans "Sort By" %}:</label>
        <select id="sort" class="form-control c-square c-theme c-input">
            <option value="-date_index">{% trans "Date" %} ({% trans "New" %} &gt; {% trans "Old" %})</option>
            <option value="date_index">{% trans "Date" %} ({% trans "Old" %} &gt; {% trans "New" %})</option>
            <option value="-year_index">{% trans "Year built" %} ({% trans "New" %} > {% trans "Old" %})</option>
            <option value="year_index">{% trans "Year built" %} ({% trans "Old" %}>{% trans "New" %})</option>
            <option value="price_index">{% trans "Price" %} ({% trans "Low" %} &gt; {% trans "High" %})</option>
            <option value="-price_index">{% trans "Price" %} ({% trans "High" %} &gt; {% trans "Low" %})</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label class="control-label c-font-uppercase c-font-bold">{% trans 'Property type' %}</label>
        <select id="property_type" class="form-control c-square c-theme">
            <option value="0">{% trans "All" %}</option>
            {% for item in property_types %}
                <option value="{{ item.id }}"
                        {% if selected_pt == item.id %}selected{% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
        </select>
        <div id="map-ptt-filters">
            {% for ptt in property_type_types %}
                <div class="c-checkbox" data-pt_id="{{ ptt.property_type_id }}">
                    <input type="checkbox" id="ptt_{{ ptt.id }}" class="c-check" name="property_type_type"
                           value="{{ ptt.id }}">
                    <label for="ptt_{{ ptt.id }}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <p>{{ ptt.name }}</p>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <label class="control-label c-font-uppercase c-font-bold">{% trans 'Energy class' %}</label>
        {% for name, value in energy_class %}
            <div class="c-checkbox">
                <input type="checkbox" id="energy_{{ name }}" class="c-check" name="energy_class"
                       value="{{ value }}">
                <label style="min-width: 100%" for="energy_{{ name }}">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    <div>
                        <span class="energy-class-name">{{ name|upper }} </span>
                        <span class="bar-wrapper">
                            <span class="bar" id="energy_class_{{ name|lower }}"></span>
                        </span>
                    </div>
                </label>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
                <div id="price_index-range_slider" ></div>
                <input class="input-number" id="price_index-min">
                <input class="input-number" id="price_index-max">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "Year built" %}</h3>
                <div id="year_index-range_slider"></div>
                <input class="input-number" id="year_index-min">
                <input class="input-number" id="year_index-max">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "area" %}</h3>
                <div id="area-range_slider"></div>
                <input class="input-number" id="area-min">
                <input class="input-number" id="area-max">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "land area" %}</h3>
                <div id="land_area-range_slider"></div>
                <input class="input-number" id="land_area-min">
                <input class="input-number" id="land_area-max">
            </div>
        </div>
    </div>
</div>
