{% extends "base.html" %}
{% load staticfiles i18n thumbnail common %}
{% block title %}{% if object.property_type_type.name %}{{ object.property_type_type.name }}{% else %}
    {{ object.property_type.name }}{% endif %}for {{ object.get_deal_display }} in {{ object.country }},
    {{ object.city }}
{% endblock title %}
{% block extra_css %}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url "realty:details" pk=object.id %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% if object.property_type_type %}{{ object.property_type_type.name }}{% else %}{{ object.property_type.name }}{% endif %} for {{ object.get_deal_display }} in {{ object.country }},{{ object.city }}"/>
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}/media/{{ object.images.first.image }}"/>
    <meta property="og:description" content="{{ object.description|striptags|escape }}"/>
{% endblock extra_css %}
{% block content %}
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    <div class="c-content-box c-size-lg c-overflow-hide c-bg-white">
    <div class="container">
        <div class="c-shop-product-details-2">
            <div class="row">
                <div class="col-md-6">
                        <div class="c-product-gallery">
                            {% if object.images.all %}
                                <div style="height: 400px" class="c-product-gallery-content">
                                    {% for image in  object.images.all %}
                                        <div style="height: 400px" class="c-zoom">
                                            <img src="{{ image.image.url }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div>
                                    <img src="{% static 'assets/base/img/nopic.png' %}">
                                </div>
                            {% endif %}
                            <div class="row c-product-gallery-thumbnail">
                                {% for image in  object.images.all %}
                                    {% thumbnail image.image "260x230" crop="center" as im %}
                                        <div class="col-xs-2 c-product-thumb">
                                            <img src="{{ im.url }}">
                                        </div>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1">
                                <h3 class="c-font-uppercase c-font-bold">
                                    {% if object.property_type_type %}
                                        <span id="property-type-type">{{ object.property_type_type.name }} </span>
                                    {% else %}
                                        <span id="property-type-type">{{ object.property_type.name }} </span>
                                    {% endif %}
                                    <span id="property-deal">for {{ object.get_deal_display }}</span>
                                </h3>
                                <div class="c-line-left"></div>
                                <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
                            </div>
                            <div class="c-product-badge">
                                {% if object.new_building %}
                                    <div class="c-product-new">New</div>
                                {% endif %}
                            </div>
                            <div class="c-product-review"></div>
                            {% if object.price %}
                                <div class="c-product-price">{{ object.price }} &#8364;</div>
                            {% endif %}
                            <div class="c-product-short-desc">{{ object.description|safe|linebreaks }}</div>
                            <div class="row c-product-variant">
                                {% if object.seller_type %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Seller type" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.get_seller_type_display }}</p>
                                    </div>
                                {% endif %}
                                {% if object.rooms %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Rooms" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.rooms }}</p>
                                    </div>
                                {% endif %}
                                {% if object.area %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Area" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.area }} m<sup>2</sup></p>
                                    </div>
                                {% endif %}
                                {% if object.land_area %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Land area" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.land_area }} ares</p>
                                    </div>
                                {% endif %}
                                {% if object.energy_class %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Energy class" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.energy_class }}</p>
                                    </div>
                                {% endif %}
                                {% if object.termal_protection_class %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Termal protection class" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.termal_protection_class }}</p>
                                    </div>
                                {% endif %}
                                {% if object.country %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "location" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.country.name }}
                                            {% if object.city %} {{ object.city.name }}{% endif %}</p>
                                    </div>
                                {% endif %}
                                {% if object.address %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Address" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.address }}</p>
                                    </div>
                                {% endif %}
                                {% if object.year_built %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Year built" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.year_built }}</p>
                                    </div>
                                {% endif %}
                                {% if object.floor %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Floor" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.floor }}</p>
                                    </div>
                                {% endif %}
                                {% if object.total_floors %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Total floors" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.total_floors }}</p>
                                    </div>
                                {% endif %}
                                {% if object.bathroom %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Bathroom" %}:</p>
                                        {% if object.bathroom == 1 %}
                                            <p class="c-desc c-font-16 c-font-thin">{% trans "yes" %}</p>
                                        {% else %}
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.bathroom }}</p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if object.garden %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Garden" %}:</p>
                                        {% if object.garden != 1 %}
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.garden }}
                                                ares
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if object.terrace %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Terrace" %}:</p>
                                        {% if object.terrace != 1 %}
                                            <p class="c-desc c-font-16 c-font-thin">
                                                {{ object.terrace }} m<sup>2</sup>
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if object.balcony %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Balcony" %}:</p>
                                        {% if object.balcony != 1 %}
                                            <p class="c-desc c-font-16 c-font-thin">{{ object.balcony }}
                                                m<sup>2</sup></p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if object.garage %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Garage" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.garage }}</p>
                                    </div>
                                {% endif %}
                                {% if object.seller and '@' not in object.seller.name %}
                                    <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                        <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Seller" %}:</p>
                                        <p class="c-desc c-font-16 c-font-thin">{{ object.seller }}</p>
                                    </div>
                                {% endif %}
                                <div class="col-sm-12 col-xs-12 c-margin-t-20">
                                    <p class="c-product-meta-label c-font-uppercase c-font-bold">{% trans "Publication date" %}:</p>
                                    <p class="c-desc c-font-16 c-font-thin"><span>{{ object.creation_date }}</span></p>
                                </div>
                                <div style="float: right">
                                    {% if object.url %}
                                        <span class="label label-default">
                                            <a style="color: white;" target="_blank"
                                               href="{{ object.url }}">{{ object.domain }}</a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 c-margin-t-20">
                                        <a class="btn btn-block btn-social c-font-bold c-btn-square c-btn-uppercase btn-md  c-theme-btn"
                                           id="get_user_data">
                                            <i class="glyphicon glyphicon-user"></i> {% trans 'Show contact' %} </a>
                                    </div>
                                    <div class="col-sm-6 col-xs-12 c-margin-t-20">
                                        <button id="subscribe-btn"
                                                class="btn btn-block btn-social c-font-bold c-btn-square c-btn-uppercase btn-md  c-theme-btn">
                                            {% trans 'Add to Notification' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{{ FACEBOOK_APP_ID }}',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        djangoContext.detailSubscriptionData = {
            deal: {{ object.deal }},
            property_type: {{ object.property_type_id }},
            countries: {{ object.country_id }},
            city: {{ object.city_id }},
        };
        if ('{{ object.property_type_type_id }}' != 'None') {
            djangoContext.detailSubscriptionData.property_type_type = {{ object.property_type_type_id }};
        }
        $(document).ready(function() {
            $('#get_user_data').on('click', function () {
                var result = $('<blockquote class="c-theme-border"></blockquote>');
                var button = $(this);
                $.ajax({
                    dataType: "json",
                    success: function (data) {
                        for (var key in data) {
                            result.append('<p>' + key + ': ' + data[key] + '</p>');
                        }
                        button.parent().empty().append(result);
                    }
                });
            });
            if (getCookie('subscribe') === 'true') {
                var filters = getSubscriptionFilters();
                if (filters) subscribeToNotification(filters);
            }
        });
    </script>
{% endblock extra_js %}