{% extends "search/search_wrapper.html" %}
{% load staticfiles i18n %}

{% block sidebar_range_filters %}
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Price" %}</h3>
            <div class="c-line-left"></div>
            <div id="price_index-range_slider"></div>
            <input class="input-number" id="price_index-input-number-r">
            <input class="input-number" id="price_index-input-number-l">
        </div>
    </div>
    <div class="c-padding-20 c-margin-t-30 c-bg-grey-1 c-bg-img-bottom-right">
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">{% trans "Year built" %}</h3>
            <div class="c-line-left"></div>
            <div id="year_index-range_slider"></div>
            <input class="input-number" id="year_index-input-number-r">
            <input class="input-number" id="year_index-input-number-l">
        </div>
    </div>
    <div>
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "area" %}</h3>
                <div id="area-range_slider"></div>
                <input class="input-number" id="area-input-number-r">
                <input class="input-number" id="area-input-number-l">
            </div>
        </div>
    </div>
    <div>
        <div class="c-padding-20 c-margin-t-10 c-bg-grey-1 c-bg-img-bottom-right">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold">{% trans "land area" %}</h3>
                <div id="land_area-range_slider"></div>
                <input class="input-number" id="land_area-input-number-r">
                <input class="input-number" id="land_area-input-number-l">
            </div>
        </div>
    </div>
{% endblock sidebar_range_filters %}

{% block map %}
    <!--div id="map"></div-->
{% endblock map %}

{% block extra_js %}
    {{ block.super }}
    <script>
        window.djangoContext.urls.ajaxSearch = "{% url 'realty:search-ajax' %}";

        document.addEventListener('DOMContentLoaded', function () {
            SearchPage({
                q_text: "{{ request.GET.q }}",
                url: "don't forget forward url namespace",
                rangeFiltersList: {
                    'price_index': {
                        'range': {
                            'min': [0],
                            '10%': [50, 50],
                            '20%': [300, 100],
                            '30%': [1000, 500],
                            '40%': [5000, 1000],
                            '50%': [10000, 5000],
                            '60%': [50000, 10000],
                            '70%': [100000, 50000],
                            '80%': [500000, 100000],
                            '90%': [1000000, 1000000],
                            'max': [10000000]
                        }
                    },
                    'year_index': {
                        'range': {'min': [1700], 'max': [new Date().getFullYear()]},
                        'moneyFormat': wNumb({}),
                        'step': 1
                    },
                    'area': {'range': {'min': [0], 'max': [2000]}, 'step': 1},
                    'land_area': {'range': {'min': [0], 'max': [2000]}, 'step': 1}
                }
            });
        });
    </script>
{% endblock extra_js %}